<section id="business_info_1" class="">
  <div class="mx-auto w-11/12 xl:max-w-7xl px-4 lg:px-0 ">
    <div class="headline-container">
      {# <hr class="border-dashed border border-stone-200"> #}
      {# <span class="caps-header">services</span> #}
        <h3 class="font-chinook headline-title pb-8"> <span class="bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500">
          Helping small business to thrive on the web
        </span>
      </h3>
      <p class="headline-paragraph">
        Specialising in small business web design and development for clients around the world
      </p>
    </div>
    <div id="services-container" class="mx-auto grid grid-cols-1 gap-6 pb-8 md:grid-cols-2 xl:grid-cols-3">
      {% for sellingPoint in data.client.sellingPoints %}
        <div class="rounded-lg border border-stone-200 dark:border-stone-800 shrink p-8 bg-sky-50 dark:bg-stone-900 dark:bg-gradient-to-b dark:from-stone-800/80 dark:to-stone-900/80 default-shadow">
          <div id="icon-and-headline" class="flex flex-center-outer justify-start">
            <div class="flex flex-col md:flex-row flex-center-outer gap-4 ">
              <div
                class="icon-container p-0 default-shadow flex-center-inner bg-no-repeat"
                style="background: url(../_assets/_splats/splat-{{ sellingPoint.id }}.svg) no-repeat">
                <img
                  class="block dark:hidden drop-shadow-sm h-20 w-20 xl:w-24 xl:h-24"
                  src="../../_assets/_icons/_sellingPoints/{{ sellingPoint.icon }}"
                  icon/>
                <img
                  class=" dark:block hidden drop-shadow-sm h-20 w-20 xl:w-24 xl:h-24"
                  src=" ../../_assets/_icons/_sellingPoints/{{ sellingPoint.iconAlt }} "
                  icon/>
              </div>
              <h4 class="text-4xl leading-none font-chinook text-sky-900 dark:text-pink-50 self-center">
                {{ sellingPoint.title }}
              </h4>
            </div>
          </div>
          <div class="">
            <div class="text-container mt-4 flex shrink flex-col">
              <p class="basic-body text-stone-600 dark:text-stone-400 pb-4">
                {{ sellingPoint.description }}
              </p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    {# <hr class="border-dashed border border-stone-200 dark:border-stone-700 mt-48"> #}
  </div>
</section>
