<section id="business_info_2" class="mx-auto xl:max-w-7xl px-4 lg:px-0">
  <div
    class="headline-container">
    {# <span class="caps-header">services</span> #}
    <h3 class="headline-title font-chinook">
      <span class="bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500">
        How it works
      </span>
    </h3>
    <p class="headline-paragraph">
      A wide range of services to help you get the most out of your site. We can help you with any of the following:
    </p>
  </div>
  <div class="mb-16 flex flex-col gap-8 md:flex-row-reverse">
    <div class="w-full overflow-hidden rounded-lg md:w-1/2">
      <div class="relative w-full overflow-auto">
        <div class="relative">
          <div
            class="flex items-end justify-start">
            <!-- Gallery - side-swipeable -->
            <div class="relative flex w-full snap-x snap-mandatory gap-6 overflow-x-auto pb-4">
              <div class="shrink-0 touch-pan-x snap-center default-border shadow-md">
                <picture>
                  <source
                    media="(max-width: 600px)"
                    srcset="https://res.cloudinary.com/goodreds/image/upload/c_scale,w_320,q_auto/v1650344465/goodreds-netlify/gallery/colour-wheel.avif"/>
                  <source
                    media="(min-width: 601px)"
                    srcset="https://res.cloudinary.com/goodreds/image/upload/c_scale,w_640,q_auto/v1650344465/goodreds-netlify/gallery/colour-wheel.avif"/>
                  <img
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://res.cloudinary.com/goodreds/image/upload/c_scale,w_320/v1650344465/goodreds-netlify/gallery/colour-wheel.webp"
                    alt="Other services we provide"
                    class="h-80 w-80 overflow-hidden rounded-lg bg-white"/>
                </picture>
              </div>
              <div class="shrink-0 touch-pan-x snap-center default-border shadow-md">
                <picture>
                  <source
                    media="(max-width: 600px)"
                    srcset="https://res.cloudinary.com/goodreds/image/upload/c_scale,w_320,q_auto/v1650609351/goodreds-netlify/gallery/typography.avif"/>
                  <source
                    media="(min-width: 601px)"
                    srcset="https://res.cloudinary.com/goodreds/image/upload/c_scale,w_640,q_auto/v1650609351/goodreds-netlify/gallery/typography.avif"/>
                  <img
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://res.cloudinary.com/goodreds/image/upload/c_scale,w_320/v1650609351/goodreds-netlify/gallery/typography.webp"
                    alt="Other services we provide"
                    class="h-80 w-80 overflow-hidden rounded-lg bg-white"/>
                </picture>
              </div>
              <div class="shrink-0 touch-pan-x snap-center default-border shadow-md">
                <picture>
                  <source
                    media="(max-width: 600px)"
                    srcset="https://res.cloudinary.com/goodreds/image/upload/c_scale,w_320,q_auto/v1650609349/goodreds-netlify/gallery/access-colour-array.avif"/>
                  <source
                    media="(min-width: 601px)"
                    srcset="https://res.cloudinary.com/goodreds/image/upload/c_scale,w_640,q_auto/v1650609349/goodreds-netlify/gallery/access-colour-array.avif"/>
                  <img
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://res.cloudinary.com/goodreds/image/upload/c_scale,w_320/v1650609349/goodreds-netlify/gallery/access-colour-array.webp"
                    alt="Other services we provide"
                    class="h-80 w-80 overflow-hidden rounded-lg bg-white"/>
                </picture>
              </div>
              <div class="shrink-0 touch-pan-x snap-center default-border shadow-md">
                <picture>
                  <source
                    media="(max-width: 600px)"
                    srcset="https://res.cloudinary.com/goodreds/image/upload/c_scale,w_320,q_auto/v1650609350/goodreds-netlify/gallery/buttons-example.avif"/>
                  <source
                    media="(min-width: 601px)"
                    srcset="https://res.cloudinary.com/goodreds/image/upload/c_scale,w_640,q_auto/v1650609350/goodreds-netlify/gallery/buttons-example.avif"/>
                  <img
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://res.cloudinary.com/goodreds/image/upload/c_scale,w_320/v1650609350/goodreds-netlify/gallery/buttons-example.webp"
                    alt="Other services we provide"
                    class="h-80 w-80 overflow-hidden rounded-lg bg-white"/>
                </picture>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="text-content" class="flex w-full flex-col md:w-1/2">
      <h4 class="basic-subhead font-chinook">
        Fast website performance
      </h4>
      <p class="basic-body mt-2 mb-8 text-stone-600 dark:text-stone-400">
        Everyone is busy so don't make them wait. If someone is looking for information about your business, we make it quick
        and easy to find. Simple as that.
      </p>
      <h4 class="basic-subhead font-chinook">
        Customised website design
      </h4>
      <p class="basic-body mt-2 mb-8 text-stone-600 dark:text-stone-400">
        We take your logo and branding into consideration when designing your website. And then we create a five-page website
        for your business. We make it for you. We make it look good. We make it work.
      </p>
    </div>
  </div>
  <div class="flex flex-col gap-8 md:flex-row">
    <div class="w-full overflow-hidden rounded-lg md:w-1/2">
      <div class="relative w-full overflow-auto">
        <div class="relative">
          <div class="flex items-end justify-start">
            <div class="relative flex w-full snap-x snap-mandatory gap-6 overflow-x-auto pb-4">
              <div class="shrink-0 touch-pan-x snap-center default-border shadow-md">
                <picture>
                  <source
                    media="(max-width: 600px)"
                    srcset="https://res.cloudinary.com/goodreds/image/upload/c_scale,w_640,q_auto/v1650614072/goodreds-netlify/gallery/card_10x.avif"/>
                  <source
                    media="(min-width: 601px)"
                    srcset="https://res.cloudinary.com/goodreds/image/upload/c_scale,w_1248,q_auto/v1650614072/goodreds-netlify/gallery/card_10x.avif"/>
                  <img
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://res.cloudinary.com/goodreds/image/upload/c_scale,w_640/v1650614072/goodreds-netlify/gallery/card_10x.webp"
                    alt="Other services we provide"
                    class="h-80 w-80 overflow-hidden rounded-lg bg-white"/>
                </picture>
              </div>
              <div class="shrink-0 touch-pan-x snap-center default-border shadow-md">
                <picture>
                  <source
                    media="(max-width: 600px)"
                    srcset="https://res.cloudinary.com/goodreds/image/upload/c_scale,w_320,q_auto/v1650609349/goodreds-netlify/gallery/buttons-example-light.avif"/>
                  <source
                    media="(min-width: 601px)"
                    srcset="https://res.cloudinary.com/goodreds/image/upload/c_scale,w_640,q_auto/v1650609349/goodreds-netlify/gallery/buttons-example-light.avif"/>
                  <img
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://res.cloudinary.com/goodreds/image/upload/c_scale,w_320/v1650609349/goodreds-netlify/gallery/buttons-example-light.webp"
                    alt="Other services we provide"
                    class="h-80 w-80 overflow-hidden rounded-lg bg-white"/>
                </picture>
              </div>
              <div class="shrink-0 touch-pan-x snap-center default-border shadow-md">
                <picture>
                  <source
                    media="(max-width: 600px)"
                    srcset="https://res.cloudinary.com/goodreds/image/upload/c_scale,w_320,q_auto/v1650609350/goodreds-netlify/gallery/state-buttons-dark.avif"/>
                  <source
                    media="(min-width: 601px)"
                    srcset="https://res.cloudinary.com/goodreds/image/upload/c_scale,w_640,q_auto/v1650609350/goodreds-netlify/gallery/state-buttons-dark.avif"/>
                  <img
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://res.cloudinary.com/goodreds/image/upload/c_scale,w_320/v1650609350/goodreds-netlify/gallery/state-buttons-dark.webp"
                    alt="Other services we provide"
                    class="h-80 w-80 overflow-hidden rounded-lg bg-white"/>
                </picture>
              </div>
              <div class="shrink-0 touch-pan-x snap-center default-border shadow-md">
                <picture>
                  <source
                    media="(max-width: 600px)"
                    srcset="https://res.cloudinary.com/goodreds/image/upload/c_scale,w_320,q_auto/v1650609350/goodreds-netlify/gallery/palette-name.avif"/>
                  <source
                    media="(min-width: 601px)"
                    srcset="https://res.cloudinary.com/goodreds/image/upload/c_scale,w_640,q_auto/v1650609350/goodreds-netlify/gallery/palette-name.avif"/>
                  <img
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://res.cloudinary.com/goodreds/image/upload/c_scale,w_320/v1650609350/goodreds-netlify/gallery/palette-name.webp"
                    alt="Other services we provide"
                    class="h-80 w-80 overflow-hidden rounded-lg bg-white"/>
                </picture>
              </div>
              <div class="shrink-0 touch-pan-x snap-center default-border shadow-md">
                <picture>
                  <source
                    media="(max-width: 600px)"
                    srcset="https://res.cloudinary.com/goodreds/image/upload/c_scale,w_320,q_auto/v1650609350/goodreds-netlify/gallery/infinite_loop_logos.avif"/>
                  <source
                    media="(min-width: 601px)"
                    srcset="https://res.cloudinary.com/goodreds/image/upload/c_scale,w_640,q_auto/v1650609350/goodreds-netlify/gallery/infinite_loop_logos.avif"/>
                  <img
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://res.cloudinary.com/goodreds/image/upload/c_scale,w_320/v1650609350/goodreds-netlify/gallery/infinite_loop_logos.webp"
                    alt="Other services we provide"
                    class="h-80 w-80 overflow-hidden rounded-lg bg-white"/>
                </picture>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="text-content" class="flex w-full flex-col md:w-1/2">
      <h4 class="basic-subhead font-chinook">
        Access for all
      </h4>
      <p class="basic-body mt-2 mb-8 text-stone-600 dark:text-stone-400">
        Non-accessible colours, images, and fonts are a problem. We ensure that your site is accessible and legal.
      </p>
      <h4 class="basic-subhead font-chinook">
        Lighthouse testing
      </h4>
      <p class="basic-body mt-2 mb-8 text-stone-600 dark:text-stone-400">
        Google's Lighthouse is a great tool to help build great, accessible websites. We use it to find the best way to improve
        your website and then we make it happen.
      </p>
      <button class="buttonDefaults buttonSecondaryAlt text-2xl bg-sky-500 text-sky-50 font-chinook">
        Find out more now
      </button>
    </div>
  </div>
</section>
