<section class="anchor" id="business_info_3">
  <div class="default-text-color mx-auto relative xl:max-w-7xl px-4 lg:px-0">
    <div
      class="headline-container">
      {# <span class="caps-header">services</span> #}
      <h3 class="headline-title md:px-12 font-chinook">
        <span class="bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500">
          Helping small businesses online for over 20 years
        </span>
      </h3>
      <p class="headline-paragraph">
        A wide range of services: <br/>
      </p>
    </div>
    <div
      id="further-services-container" class="grid grid-cols-1 gap-4 lg:px-4 md:grid-cols-2 overflow-hidden">
      {# blob #}
      <svg
        class="fill-stone-600/5 dark:fill-stone-50/5 absolute right-0 top-32 w-3/4 h-fit z-0 overflow-hidden "
        enable-background="new 0 0 200 200"
        viewbox="0 0 200 200"
        xmlns="http://www.w3.org/2000/svg">
        <path d="M169.2 35.1c22.6 22.3 32.9 50.6 30.4 84-2.7 33.4-18.1 71.6-48.1 79.3-30
        7.9-74.5-14.8-103.8-35.2s-43.6-38.7-47-57c-3.4-18.1 4.3-36 18.8-57S55.8 4.4 84 .6s62.9 12.2 85.2 34.5z"/>
      </svg>
      {# blob rotated #}
      <svg
        class="fill-stone-600/5 dark:fill-stone-50/5 absolute right-12 rotate-180 top-64 w-3/4 h-fit z-0 overflow-hidden "
        enable-background="new 0 0 200 200"
        viewbox="0 0 200 200"
        xmlns="http://www.w3.org/2000/svg">
        <path d="M169.2 35.1c22.6 22.3 32.9 50.6 30.4 84-2.7 33.4-18.1 71.6-48.1 79.3-30
        7.9-74.5-14.8-103.8-35.2s-43.6-38.7-47-57c-3.4-18.1 4.3-36 18.8-57S55.8 4.4 84 .6s62.9 12.2 85.2 34.5z"/>
      </svg>
      {% for service in data.client.services %}
        {# Individual service container #}
        <div class="flex flex-col">
          <div class="flex flex-row gap-x-4">
            <div
              class="flex flex-row">
              {# Service icon container #}
              <div
                class="bg-gradient-to-tr from-sky-300 to-sky-200 dark:from-sky-800 dark:to-sky-900 flex h-16 w-16 rounded-xl shadow-inner
                  border-stone-700 xl:w-16 xl:h-16 flex-center-outer p-0">
                <!-- Service icon -->
                <img
                  class="h-auto w-full drop-shadow-md shadow-slate-300"
                  src="../../_assets/_icons/_services/{{ service.serviceIcon }}"
                  alt=""></div>
              </div>
              {# Service name and subhead #}
              <div
                class="flex flex-col mt-1.5 font-chinook">
                {# Service name #}
                <p class="text-3xl">{{ service.serviceName }}</p>
                {# Service concise description / service subhead#}
                <p class="mb-2 text-base tracking-wider font-medium spacin opacity-80 font-sans uppercase">{{ service.serviceDescriptionConcise }}</p>
              </div>
            </div>
            {# Service verbose description #}
            <p class="basic-body mb-4 md:mx-20">{{ service.serviceDescriptionVerbose }}</p>
          </div>
        {% endfor %}
      </div>
    </section>
