<section class="anchor" id="tests">
  <div class="py-48">
    <div
      id="test-info-container"
      class="default-border bg-stone-50 dark:bg-stone-900 mx-4 rounded-3xl pt-6 pb-24 shadow-xl lg:mx-auto lg:w-5/6
        xl:max-w-7xl relative">
      <div class="text-stone-900 dark:text-stone-50 w-full lg:px-0 xl:max-w-7xl">
        {# <h2 class="py-12 px-8 text-center uppercase tracking-[0.5rem] text-stone-600/25 dark:text-stone-400 w-full text-sm">Core web vitals</h2> #}
        <h3 class="headline-title font-chinook text-center pt-16">
          <span class="bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500">
            Testing that it works
          </span>
        </h3>
        <h4 class="main-service-header px-16 pb-12 text-center">
          Our sites pass
          <span class="text-lime-600 decoration-lime-500 underline decoration-2">all</span>
          of Google's Lighthouse tests for Core Web Vitals
        </h4>
        <div
          id="test-info-nuggets-container"
          class="mx-auto grid py-6 w-11/12 grid-cols-1 gap-2 md:w-full md:grid-cols-2 md:px-12 lg:px-16 xl:grid-cols-3">
          {% for test in core_web_vitals.tests %}
            <div class="flex flex-row">
              <picture
                class="border-stone-300 bg-lime-600 text-lime-50 dark:border-lime-500/60 dark:bg-lime-600 mr-2 flex h-6 w-6 rounded-full
                  p-1 shadow-md">
                <!-- tick icon -->
                <svg
                  class="stroke-lime-50 h-4 w-4 stroke-2"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M5 12l5 5l10 -10"></path>
                </svg>
              </picture>
              <p class="text-left text-lg">{{ test.title }}</p>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
