<!-- TODO Make the default state zinc gray coloured and then make the expanded FAQ question sky blue (700?/900?) -->
<section class="anchor" id="faqs">
   <div class="mx-auto flex flex-col gap-y-4 text-stone-900 dark:text-stone-50 lg:w-5/6 lg:px-0 xl:max-w-7xl">
      <div
         class="headline-container">
         {# <span class="caps-header">Frequently asked questions</span> #}
         <h3 class="headline-title font-chinook">
            <span class="bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500">
               Questions & Answers
            </span>
         </h3>
         <p class="headline-paragraph">
            Here is a selection of questions and answers about how our services work:
         </p>
      </div>
      <div class="md:w-2/3 mx-auto px-4">
         {% for faq in data.client.faqs %}
            {% if faq.id in range(0,(data.client.faqs | length )) %}
               <div
                  x-data="{ open: false }"
                  class=" rounded-md shadow-md dark:border-stone-700 border-2 my-2 border-stone-200 bg-stone-100 p-4 dark:bg-stone-900">
                  <div x-on:click="open = ! open" class="flex flex-row justify-start items-center gap-x-2">
                     <div x-show="!open">
                        <svg
                           xmlns="http://www.w3.org/2000/svg"
                           class="icon icon-tabler icon-tabler-circle-plus h-6 w-6"
                           viewBox="0 0 24 24"
                           stroke-width="2"
                           stroke="currentColor"
                           fill="none"
                           stroke-linecap="round"
                           stroke-linejoin="round">
                           <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                           <circle cx="12" cy="12" r="9"></circle>
                           <line x1="9" y1="12" x2="15" y2="12"></line>
                           <line x1="12" y1="9" x2="12" y2="15"></line>
                        </svg>
                     </div>
                     <div x-show="open">
                        <svg
                           xmlns="http://www.w3.org/2000/svg"
                           class="icon icon-tabler icon-tabler-circle-minus h-6 w-6"
                           viewBox="0 0 24 24"
                           stroke-width="2"
                           stroke="currentColor"
                           fill="none"
                           stroke-linecap="round"
                           stroke-linejoin="round">
                           <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                           <circle cx="12" cy="12" r="9"></circle>
                           <line x1="9" y1="12" x2="15" y2="12"></line>
                        </svg>
                     </div>
                     <button class="mr-8 text-left text-xl font-maven font-medium">
                        <span>{{ faq.question }}</span>
                     </button>
                  </div>
                  <div x-show="open" x-collapse.duration.700ms="x-collapse.duration.700ms">
                     <p class="py-4 pr-4 pl-8 text-lg">
                        <span>{{ faq.answer }}</span>
                     </p>
                  </div>
               </div>
            {% endif %}
         {% endfor %}
      </div>
   </div>
   <!-- wavy bottom -->
   <div class="relative xl:h-48 h-24">
      <svg class="w-full h-fit fill-stone-50 dark:fill-stone-900 absolute bottom-0 left-0 -mb-1 lg:-mb-2" viewBox="0 0 160 9">
         <g clip-path="url(#clip0_6996_41285)">
            <path d="M-1.52588e-05 8.5332H160C152 7.84553 124.364 2.42398 80 5.43868C30.6667 8.79108 9.33332 8.27533 -1.52588e-05 8.5332Z"/>
         </g>
         <defs>
            <clipPath id="clip0_6996_41285">
               <rect width="160" height="8.53333" fill="white" transform="translate(160 8.5332) rotate(180)"/>
            </clipPath>
         </defs>
      </svg>
   </div>
</section>
