<!-- ==========================|========================== -->
<!--                    HERO - PRICING                     -->
<!-- ==========================|========================== -->
  <section id="hero"> {% for heroContent in data.client.heroes %}
    {% if heroContent.page === 'pricing' %}
      {% block hero %}
        {% include '../_components/hero-snippet.njk' %}
      {% endblock %}
    {% endif %}
  {% endfor %}
</section>
