<!-- ==========================|========================== -->
<!--                         HERO                          -->
<!-- ==========================|========================== -->
  <section id="hero" class=" hero-default hero-default-homepage-content"> {% for heroContent in data.client.heroes %}
    {% if heroContent.page === 'homepage' %}
      {% block hero %}
        {% include '../_components/hero-snippet.njk' %}
      {% endblock %}
    {% endif %}
  {% endfor %}
</section>
