<!-- ==========================|========================= -->
<!--                    HERO - BLOG                       -->
<!-- ==========================|========================= -->
  <section id="hero"> {% for heroContent in data.client.heroes %}
    {% if heroContent.page === 'news' %}
      {% block hero %}
        {% include '../_components/hero-snippet.njk' %}
      {% endblock %}
    {% endif %}
  {% endfor %}
</section>
