<div class="w-full relative">
  <div class="flex items-start m-auto ">
    <figure class="post-figure absolute opacity-50">
      {# headerImage - full width images #}
      {# Full width header image - light theme #}
        <picture class="block dark:hidden">
        <source media="(min-width: 1280px)" srcset="{{ heroContent.cloudinaryUrlRoot }}{{ heroContent.cloudinaryUrlApiXl }}{{ heroContent.cloudinaryUrlBranch }}-light.webp"/>
        <source media="(min-width: 1024px)" srcset="{{ heroContent.cloudinaryUrlRoot }}{{ heroContent.cloudinaryUrlApiLg }}{{ heroContent.cloudinaryUrlBranch }}-light.webp"/>
        <source media="(min-width: 768px)" srcset="{{ heroContent.cloudinaryUrlRoot }}{{ heroContent.cloudinaryUrlApiMd }}{{ heroContent.cloudinaryUrlBranch }}-light.webp"/>
        <source media="(min-width: 640px)" src="{{ heroContent.cloudinaryUrlRoot }}{{ heroContent.cloudinaryUrlApiSm }}{{ heroContent.cloudinaryUrlBranch }}-light.webp"/>
        <img class="max-w-full mx-auto" aria-hidden="true" decoding="async" srcset="{{ heroContent.cloudinaryUrlRoot }}{{ heroContent.cloudinaryUrlApiDefault }}{{ heroContent.cloudinaryUrlBranch }}-light.jpg" alt="{{ imageAlt or "ImageAlt NOT SET" }}"/>
      </picture>
      {# Full width header image - dark theme #}
      <picture class="hidden dark:block">
        <source media="(min-width: 1280px)" srcset="{{ heroContent.cloudinaryUrlRoot }}{{ heroContent.cloudinaryUrlApiXl }}{{ heroContent.cloudinaryUrlBranch }}-dark.webp"/>
        <source media="(min-width: 1024px)" srcset="{{ heroContent.cloudinaryUrlRoot }}{{ heroContent.cloudinaryUrlApiLg }}{{ heroContent.cloudinaryUrlBranch }}-dark.webp"/>
        <source media="(min-width: 768px)" srcset="{{ heroContent.cloudinaryUrlRoot }}{{ heroContent.cloudinaryUrlApiMd }}{{ heroContent.cloudinaryUrlBranch }}-dark.webp"/>
        <source media="(min-width: 640px)" srcset="{{ heroContent.cloudinaryUrlRoot }}{{ heroContent.cloudinaryUrlApiSm }}{{ heroContent.cloudinaryUrlBranch }}-dark.webp"/>
        <img class="max-w-full mx-auto" aria-hidden="true" decoding="async" src="{{ heroContent.cloudinaryUrlRoot }}{{ heroContent.cloudinaryUrlApiDefault }}{{ heroContent.cloudinaryUrlBranch }}-dark.jpg" alt="{{ imageAlt or "ImageAlt NOT SET" }}"/>
      </picture>
    </figure>

</div></div>
