{# ==========================|========================== #}
{#                     Pricing table                     #}
{# ==========================|========================== #}
  <section class=" mx-auto px-4 lg:px-0" id="pricing"> {# ==========================|========================== #}
  {#              Padded, full-width container             #}
  {#              with light and dark bg                   #}
  {# ==========================|========================== #}
    <div class="relative w-full"> {# ==========================|========================== #}
    {#            Flex container that contains               #}
    {#            the main package card                      #}
    {# ==========================|========================== #}
      <div class="package-container flex h-fit w-full flex-col items-center justify-center overflow-hidden rounded-2xl border
        border-stone-300 bg-arrows-blue dark:bg-arrows-fuchsia bg-cover bg-top bg-no-repeat shadow-lg shadow-stone-500
        dark:border-stone-700 dark:shadow-stone-900"> <div class=" items-center justify-center pt-6 pb-5 w-full card-header-banner-styling">
        <h2 class="text-sm font-bold uppercase tracking-[0.3rem] mx-auto text-center">Pricing</h2>
      </div>
      <div class="mt-16 mb-8 px-4 text-center">
        <h3 class="headline-title font-chinook text-sky-900 dark:text-pink-100 drop-shadow-md">
          <span class="bg-clip-text px-2 text-transparent bg-gradient-to-r from-cyan-200 via-sky-300 to-cyan-200 dark:from-pink-500
              dark:to-red-500">
            Options for your business
          </span>
        </h3>
        <p class="headline-paragraph text-slate-200 dark:text-pink-200">
          A monthly fee takes care of it all to help keep your costs predictable and manageable.
        </p>
      </div>
      <div class="flex flex-col  w-full items-center justify-center p-4">
        <div class="flex flex-col lg:flex-row gap-4">
          <div class="card-basic-styling lg:w-1/3">
            <div class="header flex items-center justify-center w-full text-center pt-6 pb-5 text-sm font-bold uppercase tracking-[0.3rem]
                card-header-banner-styling">
              Advanced package
            </div>
            <div class="flex flex-col px-8 items-center justify-center w-full">
              <div class="flex flex-col items-center justify-center">
                <p class="card-price-styling bg-clip-text text-transparent bg-gradient-to-tl from-green-600 via-green-500 to-lime-500
                    dark:from-pink-500 dark:to-red-500">
                  $350</p>
                <p class="text-xs uppercase tracking-widest font-bold opacity-75">per month</p>
                <ul class="mx-auto w-full grid grid-cols-1 py-4 px-0">
                  <p class="py-4 text-slate-800 dark:text-fuchsia-100 text-base uppercase tracking-widest text-center font-bold">All of
                    the Basic PLUS:</p>
                  {% for feature in data.client.services %}
                    {% if feature.advancedService %}
                      <li class="flex flex-row py-2">
                        <div class="card-bullet-styling card-bullet-colour-green">
                          <svg class=" stroke-white stroke-2" viewbox="0 0 24 24" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M5 12l5 5l10 -10"></path>
                          </svg>
                        </div>
                        <p class="card-list-item-styling card-list-item-colour-green">
                          {{ feature.serviceName }}</p>
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul>
                <button class="mb-4 py-4 bg-gradient-to-br from-emerald-500 via-green-500 to-lime-300 rounded-lg w-full uppercase tracking-widest
                    text-base text-white shadow-lg border border-green-500/30">
                  <a href="https://buy.stripe.com/test_8wM3cybOcazx30Q4gh">
                    <span class="drop-shadow-md">Get started</span>
                  </a>
                </button>
              </div>
            </div>
          </div>
          <div class="card-basic-styling lg:w-1/3">
            <div class="header flex items-center justify-center w-full text-center pt-6 pb-5 text-sm font-bold uppercase tracking-[0.3rem]
                card-header-banner-styling">
              Basic package
            </div>
            <div class="flex flex-col px-8 items-center justify-center w-full">
              <div class="flex flex-col items-center justify-center">
                <p class="card-price-styling bg-clip-text text-transparent bg-gradient-to-tl from-red-600 via-orange-500 to-amber-500
                    dark:from-pink-500 dark:to-red-500">
                  $150</p>
                <p class="text-xs uppercase tracking-widest font-bold opacity-75">per month</p>
                <ul class="mx-auto w-full grid grid-cols-1 py-4 px-0">
                  <p class="py-4 text-slate-800 dark:text-fuchsia-100 text-base uppercase tracking-widest text-center font-bold">Your
                    business website</p>
                  {% for feature in data.client.services %}
                    {% if feature.basicService %}
                      <li class="flex flex-row py-2">
                        <div class="card-bullet-styling card-bullet-colour-yellow">
                          <svg class=" stroke-white stroke-2" viewbox="0 0 24 24" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M5 12l5 5l10 -10"></path>
                          </svg>
                        </div>
                        <p class="card-list-item-styling card-list-item-colour-yellow">
                          {{ feature.serviceName }}</p>
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul>
                <button class="mb-8 py-4 bg-gradient-to-br from-rose-500 via-amber-500 to-amber-300 rounded-lg w-full uppercase tracking-widest
                    text-base text-white shadow-lg border border-orange-500/30">
                  <a href="https://buy.stripe.com/test_3csaF05pOazx0SI6oo">
                    <span class="drop-shadow-md">Get started</span>
                  </a>
                </button>
              </div>
            </div>
          </div>
          <div class="card-basic-styling lg:w-1/3">
            <div class="header flex items-center justify-center w-full text-center pt-6 pb-5 text-sm font-bold uppercase tracking-[0.3rem]
                card-header-banner-styling">
              Custom packages
            </div>
            <div class="flex flex-col px-8 items-center justify-center w-full">
              <div class="flex flex-col items-center justify-center">
                <p class="card-price-styling bg-clip-text text-transparent bg-gradient-to-tl from-sky-600 via-indigo-500 to-fuchsia-500 dark:from-pink-500 dark:to-red-500">$3K</p>
                <p class="text-xs uppercase tracking-widest font-bold opacity-75">and upwards</p>
                <ul class="mx-auto w-full grid grid-cols-1 py-4 px-0">
                  <p class="py-4 text-slate-800 dark:text-fuchsia-100 text-base uppercase tracking-widest text-center font-bold">bespoke projects</p>
                  {% for feature in data.client.services %}
                    {% if feature.bespokeService == true %}
                      <li class="flex flex-row py-2">
                        <div class="card-bullet-styling card-bullet-colour-blue">
                          <svg class=" stroke-white stroke-2" viewbox="0 0 24 24" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M5 12l5 5l10 -10"></path>
                          </svg>
                        </div>
                        <p class="card-list-item-styling card-list-item-colour-blue">
                          {{ feature.serviceName }}</p>
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="flex-row p-4">
          <div class="card-basic-styling">
            <div class="header flex items-center justify-center w-full text-center pt-6 pb-5 card-header-banner-styling">
              <h4 class="text-sm font-bold uppercase tracking-[0.3rem]">Included services</h4>
            </div>
            <div class="flex flex-col px-8 items-center justify-center w-full">
              <div class="flex flex-col md:flex-row items-center justify-center gap-x-8">
                <div class="flex flex-col">
                  <p class="card-price-styling card-price-colour-blue">FREE</p>
                  <p class="text-xs uppercase tracking-widest font-bold opacity-75">Included with every plan</p>
                  {# <p class="py-4 text-slate-800 dark:text-fuchsia-100 text-base uppercase tracking-widest font-bold">Included
                                      with every plan</p> #}
                </div>
                <ul class="mx-auto w-full grid grid-cols-1 md:grid-cols-2 py-8 gap-x-4">
                  {% for feature in data.client.services %}
                    {% if feature.basicService == false %}
                      <li class="flex flex-row py-2">
                        <div class="card-bullet-styling card-bullet-colour-blue">
                          <svg class=" stroke-white stroke-2" viewbox="0 0 24 24" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M5 12l5 5l10 -10"></path>
                          </svg>
                        </div>
                        <p class="card-list-item-styling card-list-item-colour-blue">
                          {{ feature.serviceName }}</p>
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      {# Action button #}
      <div
        class="flex w-3/4 flex-col pb-4 my-2">
        {# <div class="flex h-fit items-center justify-center">
                                                                          <button class="dark:bg-sky-600 flex w-5/6 flex-col items-center justify-center rounded-2xl border border-orange-500
                                                                                dark:border-sky-600 bg-orange-500 bg-gradient-to-b from-orange-400/80 dark:from-sky-600/80 dark:to-sky-600 to-orange-400
                                                                                py-6 px-4 text-lg font-semibold tracking-wide text-orange-100 dark:text-sky-100 shadow-md shadow-orange-400/50
                                                                                hover:scale-105 hover:bg-orange-300 dark:hover:bg-sky-300 dark:shadow-sky-800/50 md:flex-row">
                                                                             <div class="uppercase tracking-wide">Start today from</div>
                                                                             <div class="border-right invisible mx-4 h-0 w-[1px] bg-orange-50 dark:bg-sky-100 md:visible md:h-8"></div>
                                                                             <div>$150/month</div>
                                                                          </button>
                                                                       </div> #}
        <div class=" flex flex-col items-center justify-center my-4 px-4 text-base text-sky-50 dark:text-pink-900">
          <p>
            Need more information?
          </p>
          <p>
            <a href="#" class="underline">Get more info about the options</a>
          </p>
        </div>
        {# Pricing table #}
        {# <div class="flex flex-col">
                                                                                                                          <script async src="https://js.stripe.com/v3/pricing-table.js"></script>
                                                                                                                          <stripe-pricing-table
                                                                                                                             pricing-table-id="prctbl_1MZQbsBekdQelGMarXSJheSu"
                                                                                                                             publishable-key="pk_test_51MF5rKBekdQelGMaITiW8PJ8E31Rb60g2Gn9z3odPVDT6atA19mmpso2y8wziWcDjOlknYFXAqbIrf3pEnBH5FrD005eUSVMii"></stripe-pricing-table>
                                                                                                                       </div> #}
      </div>
    </div>
  </div>
</section>
<!-- This example requires Tailwind CSS v2.0+ -->
{# <div class="bg-white">
  <div class="max-w-7xl mx-auto bg-white py-16 sm:py-24 sm:px-6 lg:px-8">
    <!-- xs to lg -->
    <div class="max-w-2xl mx-auto space-y-16 lg:hidden">
      <section>
        <div class="px-4 mb-8">
          <h2 class="text-lg leading-6 font-medium text-gray-900">Basic</h2>
          <p class="mt-4">
            <span class="text-4xl font-extrabold text-gray-900">$9</span>
            <span class="text-base font-medium text-gray-500">/mo</span>
          </p>
          <p class="mt-4 text-sm text-gray-500">Quis suspendisse ut fermentum neque vivamus non tellus.</p>
          <a href="#" class="mt-6 block border border-gray-800 rounded-md bg-gray-800 w-full py-2 text-sm font-semibold text-white text-center hover:bg-gray-900">Buy Basic</a>
        </div>

        <table class="w-full">
          <caption class="bg-gray-50 border-t border-gray-200 py-3 px-4 text-sm font-medium text-gray-900 text-left">
            Features
          </caption>
          <thead>
            <tr>
              <th class="sr-only" scope="col">Feature</th>
              <th class="sr-only" scope="col">Included</th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200">
            <tr class="border-t border-gray-200">
              <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Molestie lobortis massa.</th>
              <td class="py-5 pr-4">
                <!-- Heroicon name: solid/check -->
                <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Yes</span>
              </td>
            </tr>

            <tr class="border-t border-gray-200">
              <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Urna purus felis.</th>
              <td class="py-5 pr-4">
                <!-- Heroicon name: solid/check -->
                <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Yes</span>
              </td>
            </tr>

            <tr class="border-t border-gray-200">
              <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Tellus pulvinar sit dictum.</th>
              <td class="py-5 pr-4">
                <!-- Heroicon name: solid/minus -->
                <svg class="ml-auto h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">No</span>
              </td>
            </tr>

            <tr class="border-t border-gray-200">
              <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Convallis.</th>
              <td class="py-5 pr-4">
                <!-- Heroicon name: solid/minus -->
                <svg class="ml-auto h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">No</span>
              </td>
            </tr>
          </tbody>
        </table>

        <table class="w-full">
          <caption class="bg-gray-50 border-t border-gray-200 py-3 px-4 text-sm font-medium text-gray-900 text-left">
            Reporting
          </caption>
          <thead>
            <tr>
              <th class="sr-only" scope="col">Feature</th>
              <th class="sr-only" scope="col">Included</th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200">
            <tr class="border-t border-gray-200">
              <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Adipiscing.</th>
              <td class="py-5 pr-4">
                <!-- Heroicon name: solid/check -->
                <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Yes</span>
              </td>
            </tr>

            <tr class="border-t border-gray-200">
              <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Eget risus integer.</th>
              <td class="py-5 pr-4">
                <!-- Heroicon name: solid/minus -->
                <svg class="ml-auto h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">No</span>
              </td>
            </tr>

            <tr class="border-t border-gray-200">
              <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Gravida leo urna velit.</th>
              <td class="py-5 pr-4">
                <!-- Heroicon name: solid/minus -->
                <svg class="ml-auto h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">No</span>
              </td>
            </tr>

            <tr class="border-t border-gray-200">
              <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Elementum ut dapibus mi feugiat cras nisl.</th>
              <td class="py-5 pr-4">
                <!-- Heroicon name: solid/minus -->
                <svg class="ml-auto h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">No</span>
              </td>
            </tr>
          </tbody>
        </table>

        <table class="w-full">
          <caption class="bg-gray-50 border-t border-gray-200 py-3 px-4 text-sm font-medium text-gray-900 text-left">
            Support
          </caption>
          <thead>
            <tr>
              <th class="sr-only" scope="col">Feature</th>
              <th class="sr-only" scope="col">Included</th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200">
            <tr class="border-t border-gray-200">
              <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Sit dignissim.</th>
              <td class="py-5 pr-4">
                <!-- Heroicon name: solid/check -->
                <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Yes</span>
              </td>
            </tr>

            <tr class="border-t border-gray-200">
              <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Congue at nibh et.</th>
              <td class="py-5 pr-4">
                <!-- Heroicon name: solid/minus -->
                <svg class="ml-auto h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">No</span>
              </td>
            </tr>

            <tr class="border-t border-gray-200">
              <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Volutpat feugiat mattis.</th>
              <td class="py-5 pr-4">
                <!-- Heroicon name: solid/minus -->
                <svg class="ml-auto h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">No</span>
              </td>
            </tr>

            <tr class="border-t border-gray-200">
              <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Tristique pellentesque ornare diam sapien.</th>
              <td class="py-5 pr-4">
                <!-- Heroicon name: solid/minus -->
                <svg class="ml-auto h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">No</span>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="border-t border-gray-200 px-4 pt-5">
          <a href="#" class="block w-full bg-gray-800 border border-gray-800 rounded-md py-2 text-sm font-semibold text-white text-center hover:bg-gray-900">Buy Basic</a>
        </div>
      </section>

      <section>
        <div class="px-4 mb-8">
          <h2 class="text-lg leading-6 font-medium text-gray-900">Essential</h2>
          <p class="mt-4">
            <span class="text-4xl font-extrabold text-gray-900">$29</span>
            <span class="text-base font-medium text-gray-500">/mo</span>
          </p>
          <p class="mt-4 text-sm text-gray-500">Quis eleifend a tincidunt pellentesque. A tempor in sed.</p>
          <a href="#" class="mt-6 block border border-gray-800 rounded-md bg-gray-800 w-full py-2 text-sm font-semibold text-white text-center hover:bg-gray-900">Buy Essential</a>
        </div>

        <table class="w-full">
          <caption class="bg-gray-50 border-t border-gray-200 py-3 px-4 text-sm font-medium text-gray-900 text-left">
            Features
          </caption>
          <thead>
            <tr>
              <th class="sr-only" scope="col">Feature</th>
              <th class="sr-only" scope="col">Included</th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200">
            <tr class="border-t border-gray-200">
              <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Molestie lobortis massa.</th>
              <td class="py-5 pr-4">
                <!-- Heroicon name: solid/check -->
                <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Yes</span>
              </td>
            </tr>

            <tr class="border-t border-gray-200">
              <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Urna purus felis.</th>
              <td class="py-5 pr-4">
                <!-- Heroicon name: solid/check -->
                <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Yes</span>
              </td>
            </tr>

            <tr class="border-t border-gray-200">
              <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Tellus pulvinar sit dictum.</th>
              <td class="py-5 pr-4">
                <!-- Heroicon name: solid/check -->
                <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Yes</span>
              </td>
            </tr>

            <tr class="border-t border-gray-200">
              <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Convallis.</th>
              <td class="py-5 pr-4">
                <span class="block text-sm text-gray-700 text-right">Up to 20 users</span>
              </td>
            </tr>
          </tbody>
        </table>

        <table class="w-full">
          <caption class="bg-gray-50 border-t border-gray-200 py-3 px-4 text-sm font-medium text-gray-900 text-left">
            Reporting
          </caption>
          <thead>
            <tr>
              <th class="sr-only" scope="col">Feature</th>
              <th class="sr-only" scope="col">Included</th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200">
            <tr class="border-t border-gray-200">
              <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Adipiscing.</th>
              <td class="py-5 pr-4">
                <!-- Heroicon name: solid/check -->
                <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Yes</span>
              </td>
            </tr>

            <tr class="border-t border-gray-200">
              <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Eget risus integer.</th>
              <td class="py-5 pr-4">
                <!-- Heroicon name: solid/check -->
                <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Yes</span>
              </td>
            </tr>

            <tr class="border-t border-gray-200">
              <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Gravida leo urna velit.</th>
              <td class="py-5 pr-4">
                <!-- Heroicon name: solid/minus -->
                <svg class="ml-auto h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">No</span>
              </td>
            </tr>

            <tr class="border-t border-gray-200">
              <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Elementum ut dapibus mi feugiat cras nisl.</th>
              <td class="py-5 pr-4">
                <!-- Heroicon name: solid/minus -->
                <svg class="ml-auto h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">No</span>
              </td>
            </tr>
          </tbody>
        </table>

        <table class="w-full">
          <caption class="bg-gray-50 border-t border-gray-200 py-3 px-4 text-sm font-medium text-gray-900 text-left">
            Support
          </caption>
          <thead>
            <tr>
              <th class="sr-only" scope="col">Feature</th>
              <th class="sr-only" scope="col">Included</th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200">
            <tr class="border-t border-gray-200">
              <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Sit dignissim.</th>
              <td class="py-5 pr-4">
                <!-- Heroicon name: solid/check -->
                <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Yes</span>
              </td>
            </tr>

            <tr class="border-t border-gray-200">
              <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Congue at nibh et.</th>
              <td class="py-5 pr-4">
                <!-- Heroicon name: solid/check -->
                <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Yes</span>
              </td>
            </tr>

            <tr class="border-t border-gray-200">
              <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Volutpat feugiat mattis.</th>
              <td class="py-5 pr-4">
                <!-- Heroicon name: solid/check -->
                <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Yes</span>
              </td>
            </tr>

            <tr class="border-t border-gray-200">
              <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Tristique pellentesque ornare diam sapien.</th>
              <td class="py-5 pr-4">
                <!-- Heroicon name: solid/minus -->
                <svg class="ml-auto h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">No</span>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="border-t border-gray-200 px-4 pt-5">
          <a href="#" class="block w-full bg-gray-800 border border-gray-800 rounded-md py-2 text-sm font-semibold text-white text-center hover:bg-gray-900">Buy Essential</a>
        </div>
      </section>

      <section>
        <div class="px-4 mb-8">
          <h2 class="text-lg leading-6 font-medium text-gray-900">Premium</h2>
          <p class="mt-4">
            <span class="text-4xl font-extrabold text-gray-900">$59</span>
            <span class="text-base font-medium text-gray-500">/mo</span>
          </p>
          <p class="mt-4 text-sm text-gray-500">Orci volutpat ut sed sed neque, dui eget. Quis tristique non.</p>
          <a href="#" class="mt-6 block border border-gray-800 rounded-md bg-gray-800 w-full py-2 text-sm font-semibold text-white text-center hover:bg-gray-900">Buy Premium</a>
        </div>

        <table class="w-full">
          <caption class="bg-gray-50 border-t border-gray-200 py-3 px-4 text-sm font-medium text-gray-900 text-left">
            Features
          </caption>
          <thead>
            <tr>
              <th class="sr-only" scope="col">Feature</th>
              <th class="sr-only" scope="col">Included</th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200">
            <tr class="border-t border-gray-200">
              <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Molestie lobortis massa.</th>
              <td class="py-5 pr-4">
                <!-- Heroicon name: solid/check -->
                <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Yes</span>
              </td>
            </tr>

            <tr class="border-t border-gray-200">
              <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Urna purus felis.</th>
              <td class="py-5 pr-4">
                <!-- Heroicon name: solid/check -->
                <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Yes</span>
              </td>
            </tr>

            <tr class="border-t border-gray-200">
              <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Tellus pulvinar sit dictum.</th>
              <td class="py-5 pr-4">
                <!-- Heroicon name: solid/check -->
                <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Yes</span>
              </td>
            </tr>

            <tr class="border-t border-gray-200">
              <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Convallis.</th>
              <td class="py-5 pr-4">
                <span class="block text-sm text-gray-700 text-right">Up to 50 users</span>
              </td>
            </tr>
          </tbody>
        </table>

        <table class="w-full">
          <caption class="bg-gray-50 border-t border-gray-200 py-3 px-4 text-sm font-medium text-gray-900 text-left">
            Reporting
          </caption>
          <thead>
            <tr>
              <th class="sr-only" scope="col">Feature</th>
              <th class="sr-only" scope="col">Included</th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200">
            <tr class="border-t border-gray-200">
              <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Adipiscing.</th>
              <td class="py-5 pr-4">
                <!-- Heroicon name: solid/check -->
                <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Yes</span>
              </td>
            </tr>

            <tr class="border-t border-gray-200">
              <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Eget risus integer.</th>
              <td class="py-5 pr-4">
                <!-- Heroicon name: solid/check -->
                <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Yes</span>
              </td>
            </tr>

            <tr class="border-t border-gray-200">
              <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Gravida leo urna velit.</th>
              <td class="py-5 pr-4">
                <!-- Heroicon name: solid/check -->
                <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Yes</span>
              </td>
            </tr>

            <tr class="border-t border-gray-200">
              <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Elementum ut dapibus mi feugiat cras nisl.</th>
              <td class="py-5 pr-4">
                <!-- Heroicon name: solid/check -->
                <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Yes</span>
              </td>
            </tr>
          </tbody>
        </table>

        <table class="w-full">
          <caption class="bg-gray-50 border-t border-gray-200 py-3 px-4 text-sm font-medium text-gray-900 text-left">
            Support
          </caption>
          <thead>
            <tr>
              <th class="sr-only" scope="col">Feature</th>
              <th class="sr-only" scope="col">Included</th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200">
            <tr class="border-t border-gray-200">
              <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Sit dignissim.</th>
              <td class="py-5 pr-4">
                <!-- Heroicon name: solid/check -->
                <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Yes</span>
              </td>
            </tr>

            <tr class="border-t border-gray-200">
              <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Congue at nibh et.</th>
              <td class="py-5 pr-4">
                <!-- Heroicon name: solid/check -->
                <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Yes</span>
              </td>
            </tr>

            <tr class="border-t border-gray-200">
              <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Volutpat feugiat mattis.</th>
              <td class="py-5 pr-4">
                <!-- Heroicon name: solid/check -->
                <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Yes</span>
              </td>
            </tr>

            <tr class="border-t border-gray-200">
              <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Tristique pellentesque ornare diam sapien.</th>
              <td class="py-5 pr-4">
                <!-- Heroicon name: solid/check -->
                <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Yes</span>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="border-t border-gray-200 px-4 pt-5">
          <a href="#" class="block w-full bg-gray-800 border border-gray-800 rounded-md py-2 text-sm font-semibold text-white text-center hover:bg-gray-900">Buy Premium</a>
        </div>
      </section>
    </div>

    <!-- lg+ -->
    <div class="hidden lg:block">
      <table class="w-full h-px table-fixed">
        <caption class="sr-only">
          Pricing plan comparison
        </caption>
        <thead>
          <tr>
            <th class="pb-4 px-6 text-sm font-medium text-gray-900 text-left" scope="col">
              <span class="sr-only">Feature by</span>
              <span>Plans</span>
            </th>

            <th class="w-1/4 pb-4 px-6 text-lg leading-6 font-medium text-gray-900 text-left" scope="col">Basic</th>

            <th class="w-1/4 pb-4 px-6 text-lg leading-6 font-medium text-gray-900 text-left" scope="col">Essential</th>

            <th class="w-1/4 pb-4 px-6 text-lg leading-6 font-medium text-gray-900 text-left" scope="col">Premium</th>
          </tr>
        </thead>
        <tbody class="border-t border-gray-200 divide-y divide-gray-200">
          <tr>
            <th class="py-8 px-6 text-sm font-medium text-gray-900 text-left align-top" scope="row">Pricing</th>

            <td class="h-full py-8 px-6 align-top">
              <div class="relative h-full table">
                <p>
                  <span class="text-4xl font-extrabold text-gray-900">$9</span>
                  <span class="text-base font-medium text-gray-500">/mo</span>
                </p>
                <p class="mt-4 mb-16 text-sm text-gray-500">Quis suspendisse ut fermentum neque vivamus non tellus.</p>
                <a href="#" class="absolute bottom-0 flex-grow block w-full bg-gray-800 border border-gray-800 rounded-md 5 py-2 text-sm font-semibold text-white text-center hover:bg-gray-900">Buy Basic</a>
              </div>
            </td>

            <td class="h-full py-8 px-6 align-top">
              <div class="relative h-full table">
                <p>
                  <span class="text-4xl font-extrabold text-gray-900">$29</span>
                  <span class="text-base font-medium text-gray-500">/mo</span>
                </p>
                <p class="mt-4 mb-16 text-sm text-gray-500">Quis eleifend a tincidunt pellentesque. A tempor in sed.</p>
                <a href="#" class="absolute bottom-0 flex-grow block w-full bg-gray-800 border border-gray-800 rounded-md 5 py-2 text-sm font-semibold text-white text-center hover:bg-gray-900">Buy Essential</a>
              </div>
            </td>

            <td class="h-full py-8 px-6 align-top">
              <div class="relative h-full table">
                <p>
                  <span class="text-4xl font-extrabold text-gray-900">$59</span>
                  <span class="text-base font-medium text-gray-500">/mo</span>
                </p>
                <p class="mt-4 mb-16 text-sm text-gray-500">Orci volutpat ut sed sed neque, dui eget. Quis tristique non.</p>
                <a href="#" class="absolute bottom-0 flex-grow block w-full bg-gray-800 border border-gray-800 rounded-md 5 py-2 text-sm font-semibold text-white text-center hover:bg-gray-900">Buy Premium</a>
              </div>
            </td>
          </tr>

          <tr>
            <th class="bg-gray-50 py-3 pl-6 text-sm font-medium text-gray-900 text-left" colspan="4" scope="colgroup">Features</th>
          </tr>

          <tr>
            <th class="py-5 px-6 text-sm font-normal text-gray-500 text-left" scope="row">Molestie lobortis massa.</th>

            <td class="py-5 px-6">
              <!-- Heroicon name: solid/check -->
              <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Included in Basic</span>
            </td>

            <td class="py-5 px-6">
              <!-- Heroicon name: solid/check -->
              <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Included in Essential</span>
            </td>

            <td class="py-5 px-6">
              <!-- Heroicon name: solid/check -->
              <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Included in Premium</span>
            </td>
          </tr>

          <tr>
            <th class="py-5 px-6 text-sm font-normal text-gray-500 text-left" scope="row">Urna purus felis.</th>

            <td class="py-5 px-6">
              <!-- Heroicon name: solid/check -->
              <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Included in Basic</span>
            </td>

            <td class="py-5 px-6">
              <!-- Heroicon name: solid/check -->
              <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Included in Essential</span>
            </td>

            <td class="py-5 px-6">
              <!-- Heroicon name: solid/check -->
              <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Included in Premium</span>
            </td>
          </tr>

          <tr>
            <th class="py-5 px-6 text-sm font-normal text-gray-500 text-left" scope="row">Tellus pulvinar sit dictum.</th>

            <td class="py-5 px-6">
              <!-- Heroicon name: solid/minus -->
              <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Not included in Basic</span>
            </td>

            <td class="py-5 px-6">
              <!-- Heroicon name: solid/check -->
              <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Included in Essential</span>
            </td>

            <td class="py-5 px-6">
              <!-- Heroicon name: solid/check -->
              <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Included in Premium</span>
            </td>
          </tr>

          <tr>
            <th class="py-5 px-6 text-sm font-normal text-gray-500 text-left" scope="row">Convallis.</th>

            <td class="py-5 px-6">
              <!-- Heroicon name: solid/minus -->
              <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Not included in Basic</span>
            </td>

            <td class="py-5 px-6">
              <span class="block text-sm text-gray-700">Up to 20 users</span>
            </td>

            <td class="py-5 px-6">
              <span class="block text-sm text-gray-700">Up to 50 users</span>
            </td>
          </tr>

          <tr>
            <th class="bg-gray-50 py-3 pl-6 text-sm font-medium text-gray-900 text-left" colspan="4" scope="colgroup">Reporting</th>
          </tr>

          <tr>
            <th class="py-5 px-6 text-sm font-normal text-gray-500 text-left" scope="row">Adipiscing.</th>

            <td class="py-5 px-6">
              <!-- Heroicon name: solid/check -->
              <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Included in Basic</span>
            </td>

            <td class="py-5 px-6">
              <!-- Heroicon name: solid/check -->
              <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Included in Essential</span>
            </td>

            <td class="py-5 px-6">
              <!-- Heroicon name: solid/check -->
              <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Included in Premium</span>
            </td>
          </tr>

          <tr>
            <th class="py-5 px-6 text-sm font-normal text-gray-500 text-left" scope="row">Eget risus integer.</th>

            <td class="py-5 px-6">
              <!-- Heroicon name: solid/minus -->
              <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Not included in Basic</span>
            </td>

            <td class="py-5 px-6">
              <!-- Heroicon name: solid/check -->
              <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Included in Essential</span>
            </td>

            <td class="py-5 px-6">
              <!-- Heroicon name: solid/check -->
              <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Included in Premium</span>
            </td>
          </tr>

          <tr>
            <th class="py-5 px-6 text-sm font-normal text-gray-500 text-left" scope="row">Gravida leo urna velit.</th>

            <td class="py-5 px-6">
              <!-- Heroicon name: solid/minus -->
              <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Not included in Basic</span>
            </td>

            <td class="py-5 px-6">
              <!-- Heroicon name: solid/minus -->
              <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Not included in Essential</span>
            </td>

            <td class="py-5 px-6">
              <!-- Heroicon name: solid/check -->
              <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Included in Premium</span>
            </td>
          </tr>

          <tr>
            <th class="py-5 px-6 text-sm font-normal text-gray-500 text-left" scope="row">Elementum ut dapibus mi feugiat cras nisl.</th>

            <td class="py-5 px-6">
              <!-- Heroicon name: solid/minus -->
              <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Not included in Basic</span>
            </td>

            <td class="py-5 px-6">
              <!-- Heroicon name: solid/minus -->
              <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Not included in Essential</span>
            </td>

            <td class="py-5 px-6">
              <!-- Heroicon name: solid/check -->
              <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Included in Premium</span>
            </td>
          </tr>

          <tr>
            <th class="bg-gray-50 py-3 pl-6 text-sm font-medium text-gray-900 text-left" colspan="4" scope="colgroup">Support</th>
          </tr>

          <tr>
            <th class="py-5 px-6 text-sm font-normal text-gray-500 text-left" scope="row">Sit dignissim.</th>

            <td class="py-5 px-6">
              <!-- Heroicon name: solid/check -->
              <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Included in Basic</span>
            </td>

            <td class="py-5 px-6">
              <!-- Heroicon name: solid/check -->
              <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Included in Essential</span>
            </td>

            <td class="py-5 px-6">
              <!-- Heroicon name: solid/check -->
              <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Included in Premium</span>
            </td>
          </tr>

          <tr>
            <th class="py-5 px-6 text-sm font-normal text-gray-500 text-left" scope="row">Congue at nibh et.</th>

            <td class="py-5 px-6">
              <!-- Heroicon name: solid/minus -->
              <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Not included in Basic</span>
            </td>

            <td class="py-5 px-6">
              <!-- Heroicon name: solid/check -->
              <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Included in Essential</span>
            </td>

            <td class="py-5 px-6">
              <!-- Heroicon name: solid/check -->
              <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Included in Premium</span>
            </td>
          </tr>

          <tr>
            <th class="py-5 px-6 text-sm font-normal text-gray-500 text-left" scope="row">Volutpat feugiat mattis.</th>

            <td class="py-5 px-6">
              <!-- Heroicon name: solid/minus -->
              <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Not included in Basic</span>
            </td>

            <td class="py-5 px-6">
              <!-- Heroicon name: solid/check -->
              <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Included in Essential</span>
            </td>

            <td class="py-5 px-6">
              <!-- Heroicon name: solid/check -->
              <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Included in Premium</span>
            </td>
          </tr>

          <tr>
            <th class="py-5 px-6 text-sm font-normal text-gray-500 text-left" scope="row">Tristique pellentesque ornare diam sapien.</th>

            <td class="py-5 px-6">
              <!-- Heroicon name: solid/minus -->
              <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Not included in Basic</span>
            </td>

            <td class="py-5 px-6">
              <!-- Heroicon name: solid/minus -->
              <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Not included in Essential</span>
            </td>

            <td class="py-5 px-6">
              <!-- Heroicon name: solid/check -->
              <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Included in Premium</span>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr class="border-t border-gray-200">
            <th class="sr-only" scope="row">Choose your plan</th>

            <td class="pt-5 px-6">
              <a href="#" class="block w-full bg-gray-800 border border-gray-800 rounded-md py-2 text-sm font-semibold text-white text-center hover:bg-gray-900">Buy Basic</a>
            </td>

            <td class="pt-5 px-6">
              <a href="#" class="block w-full bg-gray-800 border border-gray-800 rounded-md py-2 text-sm font-semibold text-white text-center hover:bg-gray-900">Buy Essential</a>
            </td>

            <td class="pt-5 px-6">
              <a href="#" class="block w-full bg-gray-800 border border-gray-800 rounded-md py-2 text-sm font-semibold text-white text-center hover:bg-gray-900">Buy Premium</a>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div> #}
