{% if prices.length %}
  <div class="shadow-md rounded-md relative z-50">
    <div class="flex flex-col w-full">
      <h2 class="font-chinook text-7xl grow text-center max-w-full">
        <span class="bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500 px-3">Products</span>
      </h2>
      <p class="caps-header text-center max-w-2/3 mx-auto">Digital product sales with Stripe Checkout, AWS<br>
          and Sendgrid</p>
      </div>
      <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
        {% for price in prices %}
          <div class="group rounded-md border border-opacity-25 border-slate-600/20 transition-colors duration-300 delay-300
              bg-neutral-50 hover:bg-neutral-50/20 dark:bg-pink-50/10 hover:dark:bg-pink-50/20 dark:border-pink-900/20 p-4 shadow-md">
            <button
              class="flex justify-center w-full transition ease-in-out delay-150 bg-sky-50/10 p-8 rounded-md mb-4 group-hover:bg-white
                dark:group-hover:bg-amber-500 border border-transparent hover:border group-hover:border-sky-50
                dark:group-hover:border-amber-700 duration-300">
              {# === IMAGE & PRICE #}
              <div class="flex flex-col">
                <img
                class="grayscale-[25%] group-hover:grayscale-0 transition ease-in-out delay-100 group-hover:-translate-y-1 group-hover:scale-125" src="{% src price.product.metadata.mainImage %}" srcset="{% srcset price.product.metadata.mainImage %}" alt=""/>
                {# === PRICE === #}
                <p class="pt-4 -pb-4 text-xl text-neutral-800 group-hover:text-neutral-600 dark:text-slate-200
                    dark:group-hover:text-amber-700 group-hover:scale-150 font-black opacity-50 group-hover:opacity-80 transtion duration-300
                    delay-100 ease-in-out">
                  {{ price.unit_amount | convertCentsToDollars }}</p>
              </div>
            </button>
            <div
              id="productMeta" class="flex flex-col">
              {# === BUY NOW BUTTON === #}
              <form action="/.netlify/functions/createCheckoutSession" method="POST">
                <input type="hidden" value="{{ price.id }}" name="price_id" class="hidden"/>
                <button
                  class="transition ease-in-out delay-100 duration-200 bg-gradient-to-b from-neutral-50/30 bg-sky-500 dark:bg-pink-600
                    hover:bg-emerald-400 dark:hover:bg-emerald-600 w-full py-3 text-center rounded-md shadow-md text-lg tracking-widest
                    text-white font-extrabold uppercase"
                  type="submit">
                  Buy this</button>
              </form>
              {# === PRODUCT NAME === #}
              <h3 class="mx-auto font-black uppercase text-center my-6 text-xl tracking-widest text-slate-900/70 dark:text-stone-100/70">
                <a href="{{ price.product.url or "price.product.url NOT FOUND" }}">{{ price.product.name or "price.product.name NOT FOUND" }}</a>
              </h3>
              {# === PRODUCT DESCRIPTION === #}
              {# <p class="dark:text-slate-100 grow pb-6 text-xl">{{ price.product.description }}</p> #}
              {# === TABS === #}
              <!-- Tabs -->
                <div
                x-data="{ selectedId: null, init() { // Set the first available tab on the page on page load. this.$nextTick(() =>
                  this.select(this.$id('tab', 1))) }, select(id) { this.selectedId = id }, isSelected(id) { return this.selectedId === id
                  }, whichChild(el, parent) { return Array.from(parent.children).indexOf(el) + 1 } }"
                x-id="['tab']"
                class="mx-auto w-full"> <!-- Tab List -->
                <ul
                  x-ref="tablist"
                  @keydown.right.prevent.stop="$focus.wrap().next()"
                  @keydown.home.prevent.stop="$focus.first()"
                  @keydown.page-up.prevent.stop="$focus.first()"
                  @keydown.left.prevent.stop="$focus.wrap().prev()"
                  @keydown.end.prevent.stop="$focus.last()"
                  @keydown.page-down.prevent.stop="$focus.last()"
                  role="tablist"
                  class="flex items-stretch">
                  <!-- Tab -->
                  <li>
                    <button
                      :id="$id('tab', whichChild($el.parentElement, $refs.tablist))"
                      @click="select($el.id)"
                      @mousedown.prevent
                      @focus="select($el.id)"
                      type="button"
                      :tabindex="isSelected($el.id) ? 0 : -1"
                      :aria-selected="isSelected($el.id)"
                      :class="isSelected($el.id) ? 'border-transparent border-t-sky-600 dark:border-t-pink-600 border-2 bg-neutral-50
                        group-hover:bg-sky-50/50 dark:bg-pink-50/10' : 'border-transparent border-2'"
                      class="text-sm uppercase tracking-widest inline-flex px-3 py-2.5"
                      role="tab">
                      <div class="flex items-center">
                        <svg fill="none" stroke-width="1.5" class="w-5 h-auto mr-2 stroke-sky-800 dark:stroke-pink-100" viewBox="0 0 24 24"><path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M15.75 10.5V6a3.75 3.75 0 1 0-7.5 0v4.5m11.356-1.993 1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 0
                              1-1.12-1.243l1.264-12A1.125 1.125 0 0 1 5.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 1 1-.75 0
                              .375.375 0 0 1 .75 0zm7.5 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0z"/> </svg>
                        <p class="pt-1 text-xs text-sky-800 dark:text-pink-100">Product</p>
                      </div>
                    </button>
                  </li>
                  <li>
                    <button
                      :id="$id('tab', whichChild($el.parentElement, $refs.tablist))"
                      @click="select($el.id)"
                      @mousedown.prevent
                      @focus="select($el.id)"
                      type="button"
                      :tabindex="isSelected($el.id) ? 0 : -1"
                      :aria-selected="isSelected($el.id)"
                      :class="isSelected($el.id) ? 'border-transparent border-t-sky-600 dark:border-t-pink-600 border-2 bg-neutral-50
                        group-hover:bg-sky-50/50 dark:bg-pink-50/10' : 'border-transparent border-2'"
                      class="text-sm uppercase tracking-widest inline-flex px-3 py-2.5"
                      role="tab">
                      <div class="flex items-center">
                        <svg
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          class="w-5 h-auto mr-2 fill-transparent stroke-sky-800 dark:stroke-pink-100">
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M9.568 3H5.25A2.25 2.25 0 003 5.25v4.318c0 .597.237 1.17.659 1.591l9.581 9.581c.699.699 1.78.872 2.607.33a18.095
                              18.095 0 005.223-5.223c.542-.827.369-1.908-.33-2.607L11.16 3.66A2.25 2.25 0 009.568 3z"/>
                          <path stroke-linecap="round" stroke-linejoin="round" d="M6 6h.008v.008H6V6z"/>
                        </svg>
                        <p class="pt-1 text-xs text-sky-800 dark:text-pink-100">Features</p>
                      </div>
                    </button>
                  </li>
                  <li>
                    <button
                      :id="$id('tab', whichChild($el.parentElement, $refs.tablist))"
                      @click="select($el.id)"
                      @mousedown.prevent
                      @focus="select($el.id)"
                      type="button"
                      :tabindex="isSelected($el.id) ? 0 : -1"
                      :aria-selected="isSelected($el.id)"
                      :class="isSelected($el.id) ? 'border-transparent border-t-sky-600 dark:border-t-pink-600 border-2 bg-neutral-50
                        group-hover:bg-sky-50/50 dark:bg-pink-50/10' : 'border-transparent border-2'"
                      class="text-sm uppercase tracking-widest inline-flex px-3 py-2.5"
                      role="tab">
                      <div class="flex items-center">
                        <svg
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          class="w-5 h-auto mr-2 fill-transparent stroke-sky-800 dark:stroke-pink-100">
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M8.25 18.75a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m3 0h6m-9 0H3.375a1.125 1.125 0 01-1.125-1.125V14.25m17.25 4.5a1.5
                              1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m3 0h1.125c.621 0 1.129-.504 1.09-1.124a17.902 17.902 0 00-3.213-9.193 2.056 2.056 0
                              00-1.58-.86H14.25M16.5 18.75h-2.25m0-11.177v-.958c0-.568-.422-1.048-.987-1.106a48.554 48.554 0 00-10.026 0 1.106 1.106 0
                              00-.987 1.106v7.635m12-6.677v6.677m0 4.5v-4.5m0 0h-12"/>
                        </svg>
                        <p class="pt-1 text-xs text-sky-800 dark:text-pink-100">Delivery</p>
                      </div>
                    </button>
                  </li>
                </ul>
                <!-- Panels -->
                <div
                  role="tabpanels" class="rounded-b-md bg-neutral-50 group-hover:bg-sky-50/50 dark:bg-pink-50/10">
                  <!-- Panel -->
                  <section
                    x-show="isSelected($id('tab', whichChild($el, $el.parentElement)))"
                    :aria-labelledby="$id('tab', whichChild($el, $el.parentElement))"
                    role="tabpanel"
                    class="p-4">
                    <h2 class="text-xl font-bold text-sky-900/70 dark:text-white/90">Product description</h2>
                    <p class="text-lg mt-2 text-slate-400 dark:text-white/70">{{ price.product.description }}</p>
                  </section>
                  <section
                    x-show="isSelected($id('tab', whichChild($el, $el.parentElement)))"
                    :aria-labelledby="$id('tab', whichChild($el, $el.parentElement))"
                    role="tabpanel"
                    class="p-4">
                    <h2 class="text-xl font-bold text-sky-900/70 dark:text-white/90 mb-2">Features</h2>
                    <div>
                      {% set details = price.product.metadata.details %}
                      {% if details %}
                        {% set detailsArray = details.split(", ") %}
                        {% for detail in detailsArray %}
                          <div class="flex flex-col">
                            <div class="flex flex-row items-center gap-x-1">
                              <svg class=" fill-lime-600 dark:fill-lime-400 w-5 h-5" viewBox="0 0 20 20">
                                <path
                                  fill-rule="evenodd"
                                  d="M16.403 12.652a3 3 0 000-5.304 3 3 0 00-3.75-3.751 3 3 0 00-5.305 0 3 3 0 00-3.751 3.75 3 3 0 000 5.305 3 3 0 003.75
                                    3.751 3 3 0 005.305 0 3 3 0 003.751-3.75zm-2.546-4.46a.75.75 0 00-1.214-.883l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06
                                    1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                                  clip-rule="evenodd"/>
                              </svg>
                              <p class="text-lg text-slate-400 dark:text-white/70">{{ detail }}</p>
                            </div>
                          </div>
                        {% endfor %}
                      {% endif %}
                    </div>
                  </section>
                  <section
                    x-show="isSelected($id('tab', whichChild($el, $el.parentElement)))"
                    :aria-labelledby="$id('tab', whichChild($el, $el.parentElement))"
                    role="tabpanel"
                    class="p-4">
                    <h2 class="text-xl font-bold text-sky-900/70 dark:text-white/90 mb-2">Delivery information</h2>
                    {% if price.product.metadata.weight %}
                      <div class="flex items-center">
                        <p class="text-sm mt-2 uppercase text-slate-400 dark:text-white/70 tracking-wide ">
                          <span class="">Weight</span>
                          <span class="bg-amber-200 dark:bg-amber-700 dark:text-amber-200 rounded-full px-2 py-1 text-amber-700 text-sm font-black">{{ price.product.metadata.weight }}</span>
                          kg</p>
                      </div>
                    {% elseif price.product.metadata.downloadable %}
                      <p class="text-lg mt-2 text-slate-400 dark:text-white/70">{{ price.product.metadata.downloadable }}</p>
                    {% endif %}
                    {# <button class="mt-5 rounded-md border border-gray-200 px-4 py-2 text-sm">Something else focusable</button> #}
                  </section>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}
