<h1 class="text-7xl text-center font-chinook pb-24">Returns</h1>
<h2 class="text-5xl font-chinook border-t pt-12 pb-4">Digital downloads</h2>
<p>Digital downloads are non-refundable. Like a puppy.</p>
