<section class="anchor" id="teams">
  <h2 class="my-16 text-center text-5xl">Meet the team</h2>
  <div
    id="teams-container"
    class="mx-auto mt-24 mb-12 flex flex-col justify-center gap-y-16 px-8 md:flex-row md:flex-wrap md:gap-x-4 lg:w-5/6 lg:px-0 lg:gap-x-0 xl:max-w-7xl"
  >

    <div
      id="team-single"
      class="mb-8 w-full flex-shrink rounded-md border border-stone-200/50 bg-stone-50 p-4 text-center shadow-lg dark:border-none dark:bg-stone-700 md:w-1/3 md:max-w-xs md:text-left lg:max-w-sm"
    >
      <div
        id="portrait-container"
        class="relative mx-auto -mt-20 h-32 w-32 overflow-hidden rounded-full border-4 border-stone-50 shadow-md"
      >
        <picture class="h-24 object-cover object-center">
          <source media=("max-width: 600px")
          srcset="https://res.cloudinary.com/goodreds/image/upload/w_96,c_scale/v1647827261/goodreds/avatars/geoff.avif">
          <source media=("min-width: 601px")
          srcset="https://res.cloudinary.com/goodreds/image/upload/w_192,c_scale/v1647827261/goodreds/avatars/geoff.avif">
          <img
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://res.cloudinary.com/goodreds/image/upload/w_192,c_scale/v1647827261/goodreds/avatars/geoff.avif"
            alt="Oriana Cory Sarson"
            width="192"
            height="192"
          />
        </picture>
      </div>
      <div
        class="quote-container flex flex-col py-4 text-sm sm:text-lg md:text-sm lg:text-base xl:text-lg"
      >
        <p <p class="pb-4 text-center text-xl font-semibold">
          Geoff
        </p>
        <p
          class="text-center font-light text-stone-500 dark:text-stone-300"
        >
          Counsellor
        </p>
        <p class="font-stone-700 text-center font-semibold">geofffitzgerald.com.au</p>
        <p
          class="mt-6 border-t border-stone-300 pt-6 font-light italic lg:px-4 xl:px-8"
        >
          "People keep calling me up, so I guess it must be working."
        </p>
      </div>
    </div>
    <div
      id="team-single"
      class="mb-8 w-full flex-shrink rounded-md border border-stone-200/50 bg-stone-50 p-4 text-center shadow-lg dark:border-none dark:bg-stone-700 md:w-1/3 md:max-w-xs md:text-left lg:max-w-sm"
    >
      <div
        id="portrait-container"
        class="relative mx-auto -mt-20 h-32 w-32 overflow-hidden rounded-full border-4 border-stone-50 shadow-md"
      >
        <picture class="h-24 object-cover object-center">
          <source media=("max-width: 600px")
          srcset="https://res.cloudinary.com/goodreds/image/upload/w_96,c_scale/v1647827261/goodreds/avatars/546.avif">
          <source media=("min-width: 601px")
          srcset="https://res.cloudinary.com/goodreds/image/upload/w_192,c_scale/v1647827261/goodreds/avatars/546.avif">
          <img
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://res.cloudinary.com/goodreds/image/upload/w_192,c_scale/v1647827261/goodreds/avatars/546.avif"
            alt="Wyman Alford Castoral"
            width="192"
            height="192"
          />
        </picture>
      </div>
      <div
        class="quote-container flex flex-col py-4 text-sm sm:text-lg md:text-sm lg:text-base xl:text-lg"
      >
        <p <p class="pb-4 text-center text-xl font-semibold">
          Wyman Alford Castoral
        </p>
        <p
          class="text-center font-light text-stone-500 dark:text-stone-300"
        >
          Upholsterer
        </p>
        <p class="font-stone-700 text-center font-semibold">
          Furniture Division
        </p>
        <p
          class="mt-6 border-t border-stone-300 pt-6 font-light italic lg:px-4 xl:px-8"
        >
          "Placeat est totam tenetur. Delectus, animi. Natus ut nulla odit
          maiores beatae omnis magnam sapiente harum asperiores quaerat. Rem
          neque iusto quod."
        </p>
      </div>
    </div>
    <div
      id="team-single"
      class="mb-8 w-full flex-shrink rounded-md border border-stone-200/50 bg-stone-50 p-4 text-center shadow-lg dark:border-none dark:bg-stone-700 md:w-1/3 md:max-w-xs md:text-left lg:max-w-sm"
    >
      <div
        id="portrait-container"
        class="relative mx-auto -mt-20 h-32 w-32 overflow-hidden rounded-full border-4 border-stone-50 shadow-md"
      >
        <picture class="h-24 object-cover object-center">
          <source media=("max-width: 600px")
          srcset="https://res.cloudinary.com/goodreds/image/upload/w_96,c_scale/v1647827261/goodreds/avatars/715.avif">
          <source media=("min-width: 601px")
          srcset="https://res.cloudinary.com/goodreds/image/upload/w_192,c_scale/v1647827261/goodreds/avatars/715.avif">
          <img
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://res.cloudinary.com/goodreds/image/upload/w_192,c_scale/v1647827261/goodreds/avatars/715.avif"
            alt="Cami Deven Capizzi"
            width="192"
            height="192"
          />
        </picture>
      </div>
      <div
        class="quote-container flex flex-col py-4 text-sm sm:text-lg md:text-sm lg:text-base xl:text-lg"
      >
        <p <p class="pb-4 text-center text-xl font-semibold">
          Cami Deven Capizzi
        </p>
        <p
          class="text-center font-light text-stone-500 dark:text-stone-300"
        >
          Cockatoo trainer
        </p>
        <p class="font-stone-700 text-center font-semibold">Dept. of War</p>
        <p
          class="mt-6 border-t border-stone-300 pt-6 font-light italic lg:px-4 xl:px-8"
        >
          "Praesent nec metus vel augue cursus posuere. Quisque malesuada eros
          ac orci congue, sed varius elit gravida. Etiam ornare lorem non nunc
          viverra, ut ultricies mi sodales."
        </p>
      </div>
    </div>
    <div
      id="team-single"
      class="mb-8 w-full flex-shrink rounded-md border border-stone-200/50 bg-stone-50 p-4 text-center shadow-lg dark:border-none dark:bg-stone-700 md:w-1/3 md:max-w-xs md:text-left lg:max-w-sm"
    >
      <div
        id="portrait-container"
        class="relative mx-auto -mt-20 h-32 w-32 overflow-hidden rounded-full border-4 border-stone-50 shadow-md"
      >
        <picture class="h-24 object-cover object-center">
          <source media=("max-width: 600px")
          srcset="https://res.cloudinary.com/goodreds/image/upload/w_96,c_scale/v1647827261/goodreds/avatars/817.avif">
          <source media=("min-width: 601px")
          srcset="https://res.cloudinary.com/goodreds/image/upload/w_192,c_scale/v1647827261/goodreds/avatars/817.avif">
          <img
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://res.cloudinary.com/goodreds/image/upload/w_192,c_scale/v1647827261/goodreds/avatars/817.avif"
            alt="Blane Skylor Kapler"
            width="192"
            height="192"
          />
        </picture>
      </div>
      <div
        class="quote-container flex flex-col py-4 text-sm sm:text-lg md:text-sm lg:text-base xl:text-lg"
      >
        <p <p class="pb-4 text-center text-xl font-semibold">
          Blane Skylor Kapler
        </p>
        <p
          class="text-center font-light text-stone-500 dark:text-stone-300"
        >
          Cockatoo trainer apprentice
        </p>
        <p class="font-stone-700 text-center font-semibold">Dept. of War</p>
        <p
          class="mt-6 border-t border-stone-300 pt-6 font-light italic lg:px-4 xl:px-8"
        >
          "Curabitur pretium sapien erat, vel posuere odio consectetur et.
          Vivamus placerat blandit metus ac porta. Duis vitae tellus gravida,
          facilisis orci nec, accumsan nibh."
        </p>
      </div>
    </div>
    <div
      id="team-single"
      class="mb-8 w-full flex-shrink rounded-md border border-stone-200/50 bg-stone-50 p-4 text-center shadow-lg dark:border-none dark:bg-stone-700 md:w-1/3 md:max-w-xs md:text-left lg:max-w-sm"
    >
      <div
        id="portrait-container"
        class="relative mx-auto -mt-20 h-32 w-32 overflow-hidden rounded-full border-4 border-stone-50 shadow-md"
      >
        <picture class="h-24 object-cover object-center">
          <source media=("max-width: 600px")
          srcset="https://res.cloudinary.com/goodreds/image/upload/w_96,c_scale/v1647827261/goodreds/avatars/169.avif">
          <source media=("min-width: 601px")
          srcset="https://res.cloudinary.com/goodreds/image/upload/w_192,c_scale/v1647827261/goodreds/avatars/169.avif">
          <img
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://res.cloudinary.com/goodreds/image/upload/w_192,c_scale/v1647827261/goodreds/avatars/169.avif"
            alt="Sumayyah Abegail Demerchant"
            width="192"
            height="192"
          />
        </picture>
      </div>
      <div
        class="quote-container flex flex-col py-4 text-sm sm:text-lg md:text-sm lg:text-base xl:text-lg"
      >
        <p <p class="pb-4 text-center text-xl font-semibold">
          Sumayyah Abegail Demerchant
        </p>
        <p
          class="text-center font-light text-stone-500 dark:text-stone-300"
        >
          Diplomatic attaché
        </p>
        <p class="font-stone-700 text-center font-semibold">Dept. of Peace</p>
        <p
          class="mt-6 border-t border-stone-300 pt-6 font-light italic lg:px-4 xl:px-8"
        >
          "Quisque semper lacus ligula, vel posuere sem ullamcorper ut.
          Curabitur in pulvinar dolor, vehicula laoreet ipsum. Etiam id laoreet
          sem. Ut feugiat, urna quis hendrerit ullamcorper, erat lectus
          consectetur quam, sed molestie neque urna et mi."
        </p>
      </div>
    </div>
    <div
      id="team-single"
      class="mb-8 w-full flex-shrink rounded-md border border-stone-200/50 bg-stone-50 p-4 text-center shadow-lg dark:border-none dark:bg-stone-700 md:w-1/3 md:max-w-xs md:text-left lg:max-w-sm"
    >
      <div
        id="portrait-container"
        class="relative mx-auto -mt-20 h-32 w-32 overflow-hidden rounded-full border-4 border-stone-50 shadow-md"
      >
        <picture class="h-24 object-cover object-center">
          <source media=("max-width: 600px")
          srcset="https://res.cloudinary.com/goodreds/image/upload/w_96,c_scale/v1647827261/goodreds/avatars/368.avif">
          <source media=("min-width: 601px")
          srcset="https://res.cloudinary.com/goodreds/image/upload/w_192,c_scale/v1647827261/goodreds/avatars/368.avif">
          <img
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://res.cloudinary.com/goodreds/image/upload/w_192,c_scale/v1647827261/goodreds/avatars/368.avif"
            alt="Kirsten Rory Paluso"
            width="192"
            height="192"
          />
        </picture>
      </div>
      <div
        class="quote-container flex flex-col py-4 text-sm sm:text-lg md:text-sm lg:text-base xl:text-lg"
      >
        <p <p class="pb-4 text-center text-xl font-semibold">
          Kirsten Rory Paluso
        </p>
        <p
          class="text-center font-light text-stone-500 dark:text-stone-300"
        >
          Technical author
        </p>
        <p class="font-stone-700 text-center font-semibold">Dept. of Peace</p>
        <p
          class="mt-6 border-t border-stone-300 pt-6 font-light italic lg:px-4 xl:px-8"
        >
          "Aliquam pharetra blandit erat, eget auctor dolor suscipit nec. Nullam
          dui quam, laoreet eget porttitor ut, luctus in purus. Sed in urna sed
          ex malesuada eleifend. Cras vel ipsum ac massa ultrices gravida."
        </p>
      </div>
    </div>
  </div>
</section>
