<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  {% include 'metadata.njk' %}
  <body onload="showContent()">
    <!-- ==========================|========================== -->
    <!--                  Main page entry point                -->
    <!-- ==========================|========================== -->
      <main
      x-data="{'darkMode': false}"
      x-init=" darkMode = JSON.parse(localStorage.getItem('darkMode')); $watch('darkMode', value =>
        localStorage.setItem('darkMode', JSON.stringify(value)))"
      :class="{'dark': darkMode === true}">
      {% include 'top_bar.njk' %}
      <!-- ==========================|========================== -->
      <!--               Full width page container               -->
      <!-- ==========================|========================== -->
        {# <div class="lg:saturate-[.9] lg:hover:saturate-[1] lg:transition-all motion-reduce:transition-none lg:duration-[2000ms]"> #}
        <div class="">
          <div id="back-to-top" class="mx-auto w-full overflow-clip">
          {% include 'logo_and_nav.njk' %}
          <!-- ==========================|========================== -->
          <!--                   Main page padding                   -->
          <!-- ==========================|========================== -->
            <div class="mx-auto"> <div class="default-text-color relative w-full">
              <!-- ==========================|========================== -->
              <!--                    Main container                     -->
              <!-- ==========================|========================== -->
                <div class="slanted-top">
                  <!-- ==========================|========================== -->
                <!--                        CONTENT                        -->
                <!-- ==========================|========================== -->
                  {% block content %}
                {{ content | safe }}
              {% endblock %}
                <!-- ==========================|========================== -->
              <!--                  end of Main container                -->
                <!-- ==========================|========================== -->
              </div>
              <div class="py-24 bg-mh_sand/5 dark:bg-stone-900 slanted-bottom">
                {% include '_layouts/footer.njk' %}
              </div>
            </div>
          </div>
          <!-- end of main page padding container -->
        </div>
      </div>
      <!-- end of full width container -->
    </main>
    {% include 'footer_scripts.njk' %}
    <!-- When a user logs in with the Netlify Identity widget, an access token directs to the site homepage. In order to
    complete the login and get back to the CMS, redirect the user back to the /admin/ path -->
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
    {# Stop the flash of mobile menu prior to the full page-load with stylesheets and images (i.e. the full payload) #}
    <script>
      function showContent() {
        document
          .getElementsByTagName("html")[0]
          .style
          .visibility = "visible";
      }
    </script>
  </body>
</html>
