<!-- ==========================|========================== -->
<!--               LOGO & NAVIGATION FLEXBOX               -->
<!-- ==========================|========================== -->
  <div class="fixed left-0 right-0 z-40 bg-zinc-100/80 dark:bg-zinc-900/80 backdrop-blur-sm drop-shadow-[0_35px_35px_rgba(0,0,0,0.05)] ring-1 ring-zinc-950/10 dark:ring-zinc-50/10">
    <div class="flex items-center mx-auto max-w-7xl lg:h-28 xl:h-28">
    <!-- ==========================|========================== -->
    <!--                          LOGO                         -->
    <!-- ==========================|========================== -->
      <section id="logo-container" class="hidden lg:flex flex-row space-x-1 lg:mx-auto lg:w-5/6 xl:max-w-7xl "> <a href="/" title="back to homepage" class="mx-auto flex-none items-center self-center w-full">
        <div class="flex flex-row items-center">
          <img
            class="inline-block dark:hidden drop-shadow-md h-8 md:h-12 w-auto xl:h-16"
            src="../_assets/_logos/light-roundel-sm.svg" />
          {# <img
            class="inline-block dark:hidden drop-shadow-md h-6 pl-3 invisible lg:visible"
            src="../_assets/_logos/dark-logo-lg.svg" /> #}
        </div>
        <div class="flex flex-row items-center">
          <img
            class="dark:inline-block hidden drop-shadow-md h-8 md:h-12 w-auto xl:h-16"
            src="../_assets/_logos/dark-roundel-sm.svg" />
          {# <img class="dark:inline-block hidden drop-shadow-md h-6 pl-3 invisible lg:visible" src="../../_assets/_logos/myhill-logo-dark-lg.svg" /> #}
        </div>
      </a>
    </section>
    <!-- ==========================|========================== -->
    <!--                       NAVIGATION                      -->
    <!-- ==========================|========================== -->
      <div x-data="{ open: false }" class=""> <div
        class="absolute top-2 left-2 overflow-clip lg:hidden">
        {# Logo #}
        <button
          @click="open = !open"
          class="flex items-center justify-center w-full h-full focus:outline-none"
          aria-label="Home">
          <img class="block dark:hidden drop-shadow-sm h-24 w-auto" src="../../_assets/_logos/myhill-logo-light-sm.svg" alt="MyHill Psychology logo" width="96" height="96" />
          <img class=" dark:block hidden drop-shadow-sm h-24 w-auto" src=" ../../_assets/_logos/myhill-logo-dark-sm.svg"  alt="MyHill Psychology logo" width="96" height="96" />
        </button>
      </div>
      {# <!-- Hamburger menu buttons - remove from page layout entirely when screensize is larger than medium --> #}
      <div class="absolute top-8 right-4 sm:right-8 md:right-4 lg:hidden">
        <button x-show="!open" x-on:click="open = ! open" class="flex flex-row h-fit justify-center items-center">
          <div class="flex justify-center items-center">
            <p class="slub default-text-color">Menu</p>
            <!-- Mobile nav open icon -->
            <svg class="h-12 w-12 stroke-stone-800 dark:stroke-stone-100" viewBox="0 0 24 24">
              <path d="M18 12H6m12 5H6M18 7H6" stroke-width="2.667" stroke-linecap="round"/>
            </svg>
          </div>
        </button>
        <button x-show="open" x-on:click="open = ! open" class="flex flex-row h-fit justify-center items-center">
          <div class="flex justify-center items-center">
            <p class="slub">Close</p>
            <!-- Mobile nav close icon -->
            <svg class="h-12 w-12" viewBox="0 0 24 24">
              <rect x="3" y="3" width="18" height="18" rx="3" class="fill-stone-400"/>
              <path d="M8 8l8 8m0-8l-8 8" stroke="#fff" stroke-width="2.667" stroke-linecap="round"/>
            </svg>
          </div>
        </button>
      </div>
      <div
        class="flex w-screen h-screen justify-center items-center -mt-12 -ml-4 bg-stone-100/50 dark:bg-stone-800/50 lg:hidden"
        x-show="open">
        {% block nav_list_small %}
          {% include '_components/nav_list_small.njk' %}
        {% endblock %}
      </div>
      <div class="hidden lg:block z-50">
        {% block nav_list_large %}
          {% include '_components/nav_list_large.njk' %}
        {% endblock %}
      </div>
    </div>
  </div>
</div>
<!-- end of LOGO & NAVIGATION FLEXBOX   -->
