<li class="posts__item default-bg-color shadow-md rounded-md default-shadow">
  <a href="{{ post.url }}" class="posts__link" class="">

    <figure class="post-figure">
      <div class="bg-white dark:bg-black bg-cover overflow-clip flex flex-shrink-0 align-center justify-center">
        <picture class="flex object-cover object-center h-64">
          <source media=("max-width: 640px")
            srcset="{{ post.data.image }}">
          <source media=("min-width: 641px ")
                        srcset="
            {{ post.data.image }}">
          <source media=("min-width: 1024px ")
                        srcset="
            {{ post.data.image }}">
          <img aria-hidden="true" loading="lazy" decoding="async"
            src="{{ post.data.image }}"
            alt="Other services we provide" class="h-fit w-full overflow-clip rounded-lg bg-white" />
        </picture>
      </div>
    </figure>

    <div class="p-4 flex flex-col grow">
      <h2 class="posts__title font-chinook text-2xl text-sky-600 dark:text-pink-600 font-bold pb-2 grow">{{ post.data.title }}</h2>
      <p class="posts__date"><span class="font-bold opacity-80">Author</span> {{ post.data.author }}</p>
      <p class="posts__date pb-2"><span class="font-bold opacity-80">Date</span> {{ post.date | postDate }}</p>
      <p class="pb-4 grow">{{ post.data.description }}</p>
      <button class="buttonDefaults buttonPrimary w-full">Read more</button>
    </div>

  </a>
</li>
