<section>
  <div class="flex flex-col before:pt-12 after:pb-48">
    {# details person 1 #}
    <div
      class="md:flex gap-8 mx-auto max-w-7xl pb-8">
      {# image #}
      <img
        class="rounded-md shadow-md border border-zinc-800/20 w-full h-min md:w-1/3"
        src="../../_assets/_images/profiles/suzanne.webp"
        alt="Suzanne">
      <div class="flex flex-col gap-4">
        <p class="lines-either-side text-2xl">Suzanne</p>
        <div class="flex flex-col gap-y-1">
        <p class="lines-either-side-text-formatting">Registered Psychologist</p>
        <p class="lines-either-side text-center">&amp;</p>
        <p class="lines-either-side-text-formatting">Board approved Supervisor with AHPRA</p>
        </div>
        {# <ul class="qualy divide-y divide-zinc-500/40 pb-8 opacity-80">
          <li class="opacity-60">Board-approved Supervisor with the Australian Health Practitioner Regulation Agency</li>
          <li class="opacity-60">Member of the Australian Psychological Society</li>
          <li class="opacity-60">Member of the EMDR International Association</li>
        </ul> #}
        <div class="opacity-70">
        <p>Suzanne’s focus is on creating an authentic, collaborative relationship with her clients through a curious and compassionate approach.</p>
        <p>Suzanne has a special interest in trauma and has worked with children, youth and adult survivors from diverse backgrounds that have experienced sexual assault, domestic and family violence and Institutional abuse (Interim Redress Scheme).</p>
        <p>Suzanne welcomes a broad range of health presentations and offers support and therapy for complex Trauma and PTSD, Anxiety and Stress disorders, interpersonal difficulties, work-related stress, adjustment and transition difficulties, children with problem sexual behaviours, adolescents with harmful sexual behaviours and parenting challenges.</p>
        <p>Suzanne offers an integrative therapeutic framework using evidence-based practices, individualised to your specific goals and needs.  This includes but not limited to Eye Movement Desensitisation Reprocessing (EMDR) – Adults and Children, Trauma Informed Cognitive Behaviour Therapy (TF-CBT), Acceptance and Commitment Therapy (ACT), Schema Therapy, Ego State Therapy, Motivational Interviewing, Interpersonal Psychotherapy and Sensorimotor Psychotherapy.</p>
        <blockquote>
          <p class="first-person-quotation">I believe we all have strengths and the capacity for change and growth despite our experiences and l look forward to sharing this journey of healing with you.</p>
        </blockquote>
        </div>
      </div>
    </div>
    {# details person 2 #}
    <div
      class="md:flex gap-8 max-w-7xl mx-auto pt-8">
      {# image #}
      <img
        class="rounded-md shadow-md border border-zinc-800/20 w-full h-min md:w-1/3"
        src="../../_assets/_images/profiles/kathleen.webp"
        alt="Kathleen">
      <div class="flex flex-col gap-4">
        <p class="lines-either-side text-2xl">Kathleen</p>
        <p class="lines-either-side">Registered Psychologist</p>
        {# <ul>
          <li class="opacity-60">APHRA approved supervisor</li>
          <li class="opacity-60">20 years of experience</li>
        </ul> #}
        <div class="opacity-70">
        <p>Kathleen is a registered psychologist and APHRA approved supervisor with 20 years’ experience. Passionate about
          assisting clients to make the changes they desire, for a sustainable life weather neurodivergent or neuro typical.
          Kathleen has explored multiple types of therapies to assist people to live the life they value. In a warm,
          person-centred eclectic approach Kathleen integrates Trauma informed Cognitive Behavioural Therapy, Acceptance and
          Commitment Therapy, Solution Focused Therapy, Mindfulness, Expressive Therapies and Emotional Freedom Technique
          (Tapping), to the needs of the client.</p>
        <p>Kathleen enjoys working with a wide variety of clients, all ages, all gender identification either face to face at
          Kedron, or via Telehealth for accessibility. Kathleen has worked with children, youths, teenagers and adults.
          Specializing in trauma processing, stabilisation of trauma symptoms and in the area of sexual assault and domestic
          violence (abusive relational dynamics), and subsequent depression and anxiety for twenty years.</p>
        <p>Kathleen is thrilled to be able to assist neurodivergent people and their families to understand their individual
          needs and identify strengths and differentiate impacts of trauma for titration of trauma treatment and clarification of
          life goals and plans.</p>
        <p>Kathleen loves to assist and facilitate people, youths and adults to recover from domestic violence, or abusive
          relational dynamics assisting them to reclaim their own identity. Kathleen has an all-inclusive approach respecting a
          person’s gender and accepting of LGBTIQA.</p>
          </div>
      </div>
    </div>
  </div>
</section>
