<section class="blueprint border-blueprint bg-gradient-to-br from-stone-50 to-stone-100 dark:from-stone-950 dark:to-stone-900 flex-center-outer">
    <div class="w-full max-w-7xl mx-4 my-12 flex flex-col flex-center-inner">
      <div class="flex flex-col md:flex-row gap-4">
        <div class="w-full md:w-1/3">
          <h3>About</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores totam repudiandae sed dolore veniam fugiat velit quaerat minima. Optio id necessitatibus fugit eaque nemo eum ducimus adipisci quas quaerat nisi?</p>
        </div>
        <div class="w-full md:w-2/3">
          <div class="flex flex-col md:flex-row gap-4">
            <img class="rounded-md overflow-clip shadow-md" src="https://placehold.co/300x400.webp?text=Default+WEBP+image&font=PT+Sans" alt="Placeholder image" width="300" height="400">
            <div class="flex flex-col">
              <p class="font-black">Name</p>
              <p class="opacity-80">Job title</p>
              <p class="opacity-60">Qualifications</p>
              <p class="opacity-40 italic">Pronouns</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque voluptas nam cum omnis odio, aut reprehenderit inventore. Minima, est non quisquam corporis, quidem id deleniti placeat voluptatem quia praesentium inventore?</p>
              <div class="flex flex-row h-6 gap-1 saturate-0">
                <img class="" src="../../_assets/_icons/_footer-icons/instagram.svg" alt="Instagram" />
                <img class="" src="../../_assets/_icons/_footer-icons/facebook-light.svg" alt="Facebook" />
              </div>
            </div>
          </div>
          <div class="py-12">
            <hr class="border border-neutral-300 opacity-25">
          </div>
          <div class="flex flex-col md:flex-row gap-4">
            <img class="rounded-md overflow-clip shadow-md" src="https://placehold.co/300x400.webp?text=Default+WEBP+image&font=PT+Sans" alt="Placeholder image" width="300" height="400">
            <div class="flex flex-col">
              <p class="font-black">Name</p>
              <p class="opacity-80">Job title</p>
              <p class="opacity-60">Qualifications</p>
              <p class="opacity-40 italic">Pronouns</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque voluptas nam cum omnis odio, aut reprehenderit inventore. Minima, est non quisquam corporis, quidem id deleniti placeat voluptatem quia praesentium inventore?</p>
              <div class="flex flex-row h-6 gap-1 saturate-0">
                <img class="" src="../../_assets/_icons/_footer-icons/instagram.svg" alt="Instagram" />
                <img class="" src="../../_assets/_icons/_footer-icons/facebook-light.svg" alt="Facebook" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
