<section>
  <div class="flex flex-col before:pt-12 after:pb-48">
    {# details person 1 #}
    <div
      class="md:flex gap-8 mx-auto max-w-7xl pb-8">
      {# image #}
      <img
        class="rounded-md shadow-md border border-zinc-800/20 w-full h-min md:w-1/3"
        src="../../_assets/_images/kateryna-hliznitsova-2THdTdKs0yU-unsplash.webp"
        alt="Placeholder image">
      <div class="flex flex-col gap-4">
        <p class="lines-either-side text-2xl">Suzanne</p>
        <p class="lines-either-side">Clinical Psychologist</p>
        <ul class="qualy divide-y divide-zinc-500/40 pb-8 opacity-80">
          <li class="opacity-60">Board-approved Supervisor with the Australian Health Practitioner Regulation Agency</li>
          <li class="opacity-60">Member of the Australian Psychological Society</li>
          <li class="opacity-60">Member of the EMDR International Association</li>
        </ul>
        <p>I am a registered psychologist and Board approved Supervisor with the Australian Health Practitioner Regulation
          Agency (AHPRA). I am also a member of the Australian Psychological Society (APS) and EMDR International Association
          (EMDRIA).</p>
        <p>I offer an integrative evidence-based treatment that is trauma sensitive using best practices that are individualised
          and meaningful to you. This includes but not limited to Eye Movement Desensitization Therapy (EMDR), Trauma Informed
          Cognitive Behaviour Therapy (TF-CBT), Acceptance and Commitment Therapy (ACT), Schema Therapy, Ego State Therapy and
          Sensorimotor Psychotherapy.</p>
        <p>I have a trusted colleague Kathleen who also provides psychological services. Kathleen has a home office in East
          Street, Kedron. You can email Kathleen on
          <a href="mailto:kasu.counselling@gmail.com">kasu.counselling@gmail.com</a>
        </p>
      </div>
    </div>
    {# details person 2 #}
    <div
      class="md:flex gap-8 max-w-7xl mx-auto pt-8">
      {# image #}
      <img
        class="rounded-md shadow-md border border-zinc-800/20 w-full h-min md:w-1/3"
        src="../../_assets/_images/unseen-studio-s9CC2SKySJM-unsplash.webp"
        alt="Placeholder image">
      <div class="flex flex-col gap-4">
        <p class="lines-either-side text-2xl">Kathleen</p>
        <p class="lines-either-side">Registered Psychologist</p>
        <ul>
          <li class="opacity-60">APHRA approved supervisor</li>
          <li class="opacity-60">20 years of experience</li>
        </ul>
        <p class="opacity-40 italic">Pronouns</p>
        <p>Kathleen is a registered psychologist and APHRA approved supervisor with 20 years’ experience. Passionate about
          assisting clients to make the changes they desire, for a sustainable life weather neurodivergent or neuro typical.
          Kathleen has explored multiple types of therapies to assist people to live the life they value. In a warm,
          person-centred eclectic approach Kathleen integrates Trauma informed Cognitive Behavioural Therapy, Acceptance and
          Commitment Therapy, Solution Focused Therapy, Mindfulness, Expressive Therapies and Emotional Freedom Technique
          (Tapping), to the needs of the client.</p>
        <p>Kathleen enjoys working with a wide variety of clients, all ages, all gender identification either face to face at
          Kedron, or via Telehealth for accessibility. Kathleen has worked with children, youths, teenagers and adults.
          Specializing in trauma processing, stabilisation of trauma symptoms and in the area of sexual assault and domestic
          violence (abusive relational dynamics), and subsequent depression and anxiety for twenty years.</p>
        <p>Kathleen is thrilled to be able to assist neurodivergent people and their families to understand their individual
          needs and identify strengths and differentiate impacts of trauma for titration of trauma treatment and clarification of
          life goals and plans.</p>
        <p>Kathleen loves to assist and facilitate people, youths and adults to recover from domestic violence, or abusive
          relational dynamics assisting them to reclaim their own identity. Kathleen has an all-inclusive approach respecting a
          person’s gender and accepting of LGBTIQA.</p>
      </div>
    </div>
  </div>
</section>
