<section id="acknowledgement" class="blueprint border-blueprint bg-gradient-to-br from-stone-50 to-stone-100 dark:from-stone-950 dark:to-stone-900
    flex-center-outer">
  <div class="w-full max-w-7xl mx-4 my-12 flex flex-col flex-center-inner py-12">
    {# <img class="h-12" src="../../_assets/_logos/myhill-logo-light-sm.svg" alt="Logo" width="48" height="48"> #}
    <blockquote class="mt-12 text-2xl font-normal text-stone-50 dark:text-stone-50">
      <p>I am proud to work on the traditional land of the
        {# <a
          href="https://www.wikiwand.com/en/Gubbi_Gubbi"
          x-data
          x-tooltip="Aboriginal and Torres Strait Islander people should be aware that this website link contains images, voices
            and names of deceased persons."> #}
        Gubbi Gubbi
        {# </a> #}
        people. Sovereignty never ceded. We acknowledge the People who are the traditional custodians of this land. We pay
        respect to the Elders past and present, and extend that respect to all First Nations’ Peoples. We are committed to
        honouring
        {# <a
          href="https://www.wikiwand.com/en/Indigenous_Australians"
          x-data
          x-tooltip="Aboriginal and Torres Strait Islander people should be aware that this website link contains images, voices
            and names of deceased persons."> #}
        Aboriginal and Torres Strait Islander Peoples’
        {# </a> #}
        wisdom, heritage, beliefs and continued connection to Country.</p>
    </blockquote>
  </div>
</section>
