<section class="acknowledgement dark:acknowledgement-dark
    flex-center-outer">
  <div class="w-full max-w-7xl mx-4 my-24 flex flex-col flex-center-inner">
    <blockquote class=" font-normal">
      <p class="text-sm">I am proud to work on the traditional land of the
        {# <a
          href="https://www.wikiwand.com/en/Gubbi_Gubbi"
          x-data
          x-tooltip="Aboriginal and Torres Strait Islander people should be aware that this website link contains images, voices
            and names of deceased persons."> #}
        Gubbi Gubbi
        {# </a> #}
        people.</p> <p>Sovereignty never ceded.</p> <p>We acknowledge the People who are the traditional custodians of this land. We pay
        respect to the Elders past and present, and extend that respect to all First Nations’ Peoples. We are committed to
        honouring
        {# <a
          href="https://www.wikiwand.com/en/Indigenous_Australians"
          x-data
          x-tooltip="Aboriginal and Torres Strait Islander people should be aware that this website link contains images, voices
            and names of deceased persons."> #}
        Aboriginal and Torres Strait Islander Peoples’
        {# </a> #}
        wisdom, heritage, beliefs and continued connection to Country.</p>
    </blockquote>
  </div>
</section>
