<section id="contact" class="flex-center-outer">
  <div class="w-full max-w-7xl mx-4 mt-12 mb-72 flex flex-col flex-center-inner">
    <div class="w-full flex flex-col gap-4 md:flex-row">
      <div class="md:w-1/2">
        <div id="touch-base" class="help-suggestion flex flex-row items-center justify-between">
          <div class="flex flex-col">
            <p class="pb-4">I offer flexible telehealth that includes weeknights and Saturday mornings. In person appointments are
              available upon request in Burpengary.</p>
            <p>If you have any questions and would like to discuss further or send through a referral, please contact me on the
              above email or mobile.</p>
            {# <p>0422 178 187</p> #}
            <p>Please email or phone and we will endeavour to contact you within 24 hours.</p>
          </div>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler shrink-0 ml-8 icon-tabler-arrow-big-right-lines rotate-90 text-stone-500 md:rotate-0"
            width="24"
            height="24"
            viewbox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 9v-3.586a1 1 0 0 1 1.707 -.707l6.586 6.586a1 1 0 0 1 0 1.414l-6.586 6.586a1 1 0 0 1 -1.707 -.707v-3.586h-3v-6h3z"></path>
            <path d="M3 9v6"></path>
            <path d="M6 9v6"></path>
          </svg>
        </div>
      </div>
      <form
        name="contact-form"
        method="POST"
        data-netlify-recaptcha="true"
        data-netlify="true"
        class="bg-white dark:bg-black default-border rounded-xl p-8 shadow-lg md:w-1/2 mx-4 md:mx-0">
        <div class="flex flex-col xl:gap-2">
          <div class="group relative z-0 mb-2 w-full">
            <input type="hidden" name="subject" value="Contact form via the website"/>
            <input
              type="text"
              name="floating_name"
              id="floating_name"
              class="peer block w-full appearance-none border-0 border-b border-stone-700/20 bg-transparent py-2.5 px-0 text-sm
                text-stone-900 focus:border-stone-500 focus:outline-none focus:ring-0 dark:border-stone-300/20 dark:text-white
                dark:focus:border-stone-500"
              placeholder=" "
              required/>
            <label
              for="floating_name"
              class="absolute top-3 -z-10 origin-[0] -translate-y-6 scale-75 transform text-base text-stone-500 duration-300
                peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:left-0 peer-focus:-translate-y-6
                peer-focus:scale-75 peer-focus:text-stone-500 dark:text-stone-200 peer-focus:dark:text-stone-500">
              Name</label>
            <p class="invisible mt-2 text-right text-sm text-stone-500 peer-focus:visible dark:text-stone-400">
              We need this to know what to call you
            </p>
          </div>
          <div class="group relative z-0 mb-2 w-full">
            <input
              type="email"
              name="floating_email"
              id="floating_email"
              class="peer block w-full appearance-none border-0 border-b border-stone-700/20 bg-transparent py-2.5 px-0 text-sm
                text-stone-900 focus:border-stone-500 focus:outline-none focus:ring-0 dark:border-stone-300/20 dark:text-white
                dark:focus:border-stone-500"
              placeholder=" "
              required/>
            <label
              for="floating_email"
              class="absolute top-3 -z-10 origin-[0] -translate-y-6 scale-75 transform text-base text-stone-500 duration-300
                peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:left-0 peer-focus:-translate-y-6
                peer-focus:scale-75 peer-focus:text-stone-500 dark:text-stone-200 peer-focus:dark:text-stone-500">
              Email address</label>
            <p class="invisible mt-2 text-right text-sm text-stone-500 peer-focus:visible dark:text-stone-400">
              We'll need this to email you back
            </p>
          </div>
          <div class="group relative z-0 mb-2 w-full">
            <input
              type="tel"
              name="floating_phone"
              id="floating_phone"
              class="peer block w-full appearance-none border-0 border-b border-stone-700/20 bg-transparent py-2.5 px-0 text-sm
                text-stone-900 focus:border-stone-500 focus:outline-none focus:ring-0 dark:border-stone-300/20 dark:text-white
                dark:focus:border-stone-500"
              placeholder=" "
              required/>
            <label
              for="floating_phone"
              class="absolute top-3 -z-10 origin-[0] -translate-y-6 scale-75 transform text-base text-stone-500 duration-300
                peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:left-0 peer-focus:-translate-y-6
                peer-focus:scale-75 peer-focus:text-stone-500 dark:text-stone-200 peer-focus:dark:text-stone-500">
              Phone number</label>
            <p class="invisible mt-2 text-right text-sm text-stone-500 peer-focus:visible dark:text-stone-400">
              We'll need this to phone you back
            </p>
          </div>
          {# Radio button to choose practitioner #}
          <div class="group relative z-0 mb-2">
            <fieldset class="text-base">
              {# <legend class="text-base">Select psychologist:</legend> #}
              {# <!-- Radio -->

            </fieldset>
          </div>
          {# Testing new radio options #}
          <div x-data="{ value: 'suzanne', values: [ { id: 1, name: 'Suzanne', specialities: 'Complex Trauma and PTSD, Anxiety and Stress disorders' }, { id: 2, name: 'Kathleen', specialities: 'Trauma informed Cognitive Behavioural Therapy, Acceptance and Commitment Therapy, Solution Focused Therapy' }, ], }">
            <label x-radio:label class="sr-only">Choose psychologist that you would like to see:
              <span x-text="value"></span>
            </label>
            <legend class="text-base">Select psychologist</legend>
            <div x-radio x-model="value" class="max-w-xl w-full">
              <div class="mt-4 space-y-3">
                <template x-for="item in values" :key="item.id">
                  <div
                    x-radio:option
                    :value="item"
                    name="chosen_psychologist"
                    class="flex cursor-pointer rounded-md border border-gray-200 bg-white dark:bg-black p-4  focus:outline-none
                      focus:ring-4 ring-mh_green/50 dark:ring-mh_orange bg-inherit dark:bg-mh_orange/10"
                    :class="{ 'shadow-sm': $radioOption.isChecked }"
                    :class="{ 'bg-mh_green/10 dark:bg-mh_orange': $radioOption.isChecked }">
                    <span
                      :class="{ 'bg-mh_green/50 dark:bg-mh_orange': $radioOption.isChecked }"
                      class="mt-1 inline-flex h-4 w-4 shrink-0 items-center justify-center rounded-full border-2 border-white ring-1
                        ring-mh_green-50 dark:ring-mh_orange"
                      aria-hidden="true"></span>
                    <span
                      class="ml-3 -mt-px">
                      <!-- Primary Label -->
                      <p x-radio:label x-text="item.name"></p>
                      <!-- Secondary Information -->
                      <div x-radio:description class="text-base">
                        <span class="text-base">Specialities</span>
                        <p class="text-sm" x-text="item.specialities"></p>
                      </div>
                    </span>
                  </div>
                </template>
              </div>
            </div>
          </div>


          {# Message area #}
          <div class="group relative z-0 mb-2 w-full">
            <label
              for="message"
              class="block py-2.5 text-base font-normal text-stone-500 peer-focus:text-stone-500 dark:text-stone-200">Optional message</label>
            <textarea
              type="text"
              name="message"
              id="message"
              rows="4"
              class="block resize-y w-full rounded-lg border border-stone-700/20 bg-stone-50 p-2.5 text-base text-stone-900
                focus:border-stone-500 focus:ring-stone-500 dark:border-stone-300/20 dark:bg-stone-800 dark:text-stone-50
                dark:placeholder-stone-300 dark:focus:border-stone-500 dark:focus:ring-stone-500"
              placeholder="If you would like to leave a message you may do so here&#8230;"></textarea>
          </div>
          <div data-netlify-recaptcha="true"></div>
          <button
            type="submit"
            class="w-full rounded-lg bg-stone-700 px-5 py-2.5 text-center text-base font-medium text-white hover:bg-stone-800
              focus:outline-none focus:ring-4 focus:ring-stone-300 dark:bg-stone-600 dark:hover:bg-stone-700 dark:focus:ring-stone-800
              sm:w-auto">
            Submit
          </button>
        </div>
      </form>
    </div>
  </section>
