<section id="contact" class="blueprint border-blueprint bg-gradient-to-br from-stone-50 to-stone-100 dark:from-stone-950 dark:to-stone-900 flex-center-outer">
    <div class="w-full max-w-7xl mx-4 my-12 flex flex-col flex-center-inner">
        <div class="w-full flex flex-col gap-4 md:flex-row">
          <div class="md:w-1/2 self-center">
            <div id="touch-base" class="help-suggestion flex flex-row items-center justify-between border-b border-stone-700/20
                dark:border-stone-300/20">
              <div class="flex flex-col mx-4">
                <h4 class="text-stone-700 dark:text-stone-100">
                  Contact us
                </h4>
                <p class="text-stone-500 dark:text-stone-300 opacity-80 text-base">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.
                </p>
              </div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler shrink-0 ml-8 icon-tabler-arrow-big-right-lines rotate-90 text-stone-500 md:rotate-0"
                width="24"
                height="24"
                viewbox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 9v-3.586a1 1 0 0 1 1.707 -.707l6.586 6.586a1 1 0 0 1 0 1.414l-6.586 6.586a1 1 0 0 1 -1.707 -.707v-3.586h-3v-6h3z"></path>
                <path d="M3 9v6"></path>
                <path d="M6 9v6"></path>
              </svg>
            </div>
          </div>
          <form
            name="contact-form"
            method="POST"
            data-netlify="true"
            class="bg-white dark:bg-black default-border rounded-xl p-8 shadow-lg md:w-1/2 mx-4 md:mx-0">
            <div class="flex flex-col xl:gap-2">
              <div class="group relative z-0 mb-2 w-full">
                <input type="hidden" name="subject" value="Contact form via the website"/>
                <input
                  type="text"
                  name="floating_name"
                  id="floating_name"
                  class="peer block w-full appearance-none border-0 border-b border-stone-700/20 bg-transparent py-2.5 px-0 text-sm
                    text-stone-900 focus:border-stone-500 focus:outline-none focus:ring-0 dark:border-stone-300/20 dark:text-white
                    dark:focus:border-stone-500"
                  placeholder=" "
                  required/>
                <label
                  for="floating_name"
                  class="absolute top-3 -z-10 origin-[0] -translate-y-6 scale-75 transform text-base text-stone-500 duration-300
                    peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:left-0 peer-focus:-translate-y-6
                    peer-focus:scale-75 peer-focus:text-stone-500 dark:text-stone-200 peer-focus:dark:text-stone-500">
                Name</label>
                <p class="invisible mt-2 text-right text-sm text-stone-500 peer-focus:visible dark:text-stone-400">
                  We need this to know what to call you
                </p>
              </div>
              <div class="group relative z-0 mb-2 w-full">
                <input
                  type="email"
                  name="floating_email"
                  id="floating_email"
                  class="peer block w-full appearance-none border-0 border-b border-stone-700/20 bg-transparent py-2.5 px-0 text-sm
                    text-stone-900 focus:border-stone-500 focus:outline-none focus:ring-0 dark:border-stone-300/20 dark:text-white
                    dark:focus:border-stone-500"
                  placeholder=" "
                  required/>
                <label
                  for="floating_email"
                  class="absolute top-3 -z-10 origin-[0] -translate-y-6 scale-75 transform text-base text-stone-500 duration-300
                    peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:left-0 peer-focus:-translate-y-6
                    peer-focus:scale-75 peer-focus:text-stone-500 dark:text-stone-200 peer-focus:dark:text-stone-500">
                Email address</label>
                <p class="invisible mt-2 text-right text-sm text-stone-500 peer-focus:visible dark:text-stone-400">
                  We'll need this to email you back
                </p>
              </div>
              <div class="group relative z-0 mb-2 w-full">
                <label
                  for="message"
                  class="block py-2.5 text-base font-normal text-stone-500 peer-focus:text-stone-500 dark:text-stone-200">Your message</label>
                <textarea
                  type="text"
                  name="message"
                  id="message"
                  rows="4"
                  class="block resize-y w-full rounded-lg border border-stone-700/20 bg-stone-50 p-2.5 text-base text-stone-900
                    focus:border-stone-500 focus:ring-stone-500 dark:border-stone-300/20 dark:bg-stone-800 dark:text-stone-50
                    dark:placeholder-stone-300 dark:focus:border-stone-500 dark:focus:ring-stone-500"
                  placeholder="Leave a message..."></textarea>
              </div>
              {# <fieldset class="group relative z-0 mb-2 w-full text-base text-stone-900 dark:text-stone-50">
                <legend class="pb-2">Occasional newsletter?</legend>
                <div class="flex flex-row align-center justfy-center gap-x-2">
                  <input type="checkbox" name="newsletter" id="newsletter">
                  <label for="newsletter" class="align-center">Yes, subscribe</label>
                </div>
              </fieldset> #}
              <button
                type="submit"
                class="w-full rounded-lg bg-stone-700 px-5 py-2.5 text-center text-base font-medium text-white hover:bg-stone-800
                  focus:outline-none focus:ring-4 focus:ring-stone-300 dark:bg-stone-600 dark:hover:bg-stone-700 dark:focus:ring-stone-800
                  sm:w-auto">
                Submit
              </button>
            </div>
          </form>
        </div>
  </section>
