<section class="flex-center-outer">
  <div class="w-full max-w-7xl mx-4 py-24 flex flex-col flex-center-inner">
    <div class="justify-center grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
      <div class="appointment-card">
        <h4 class="appointment-headline">
          Private Session</h4>
        <div class="appointment-below-the-line">
          <img class="appointment-clock-icon" src="../../_assets/_icons/_time/clock.svg" alt="Duration of appointment"/>
          <p class="appointment-duration">50 minutes</p>
          <div class="appointment-details">
            <p class="appointment-price">$220</p>
          </div>
        </div>
      </div>
      <div class="appointment-card">
        <h4 class="appointment-headline">GP Mental Health Care Plan</h4>
        <div class="appointment-below-the-line">
          <img class="appointment-clock-icon" src="../../_assets/_icons/_time/clock.svg" alt="Duration of appointment"/>
          <p class="appointment-duration">50 minutes</p>
          <div class="appointment-details">
            <p class="appointment-price">$220</p>
            <p class="appointment-small-print">less Medicare Rebate of $92.90</p>
          </div>
        </div>
      </div>
      <div class="appointment-card">
        <h4 class="appointment-headline">NDIS Self-Managed or Plan-Managed Participants</h4>
        <div class="appointment-below-the-line">
          <img class="appointment-clock-icon" src="../../_assets/_icons/_time/clock.svg" alt="Duration of appointment">
          <p class="appointment-duration">50 minutes</p>
          <div class="appointment-details">
            <p class="appointment-price">$220</p>
            <p class="appointment-small-print">As set out by NDIS Price Guide</p>
            <p class="appointment-small-print">(travel allowance to be discussed if service required in home)</p>
          </div>
        </div>
      </div>
      <div class="appointment-card">
        <h4 class="appointment-headline">Supervision funded by Service</h4>
        <div class="appointment-below-the-line">
          {# <img class="appointment-clock-icon" src="../../_assets/_icons/_time/clock.svg" alt="Duration of appointment"> #}
          <div class="appointment-details">
            <p class="appointment-price">$190</p>
            <p class="appointment-small-print">(+10% GST)</p>
          </div>
        </div>
      </div>
      <div class="appointment-card">
        <h4 class="appointment-headline">Consulting and report writing fees</h4>
        <div class="appointment-below-the-line">
          {# <img class="appointment-clock-icon" src="../../_assets/_icons/_time/clock.svg" alt="Duration of appointment"> #}
          <div class="appointment-details">
            <p class="appointment-price">Request quote via email</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
