<section class="blueprint border-blueprint bg-gradient-to-br from-stone-50 to-stone-100 dark:from-stone-900 dark:to-stone-950 flex-center-outer">
    <div class="w-full max-w-7xl mx-4 my-12 flex flex-col flex-center-inner">
      <h3>Fee schedule</h3>
      <div class="justify-center grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-12">
        <div class="flex flex-col">
          <h4 class="pt-4">GP Mental Health Care Plan</h4>
          <p>60 minutes</p>
          <p>$190 less Medicare Rebate of $79.05</p>
        </div>
        <div class="flex flex-col">
          <h4 class="pt-4">GP Mental Health Care Plan</h4>
          <p>60 minutes</p>
          <p>$190 less Medicare Rebate of $79.05</p>
        </div>
        <div class="flex flex-col">
          <h4 class="pt-4">GP Mental Health Care Plan</h4>
          <p>60 minutes</p>
          <p>$190 less Medicare Rebate of $79.05</p>
        </div>
        <div class="flex flex-col">
          <h4 class="pt-4">GP Mental Health Care Plan</h4>
          <p>60 minutes</p>
          <p>$190 less Medicare Rebate of $79.05</p>
        </div>
        <div class="flex flex-col">
          <h4 class="pt-4">GP Mental Health Care Plan</h4>
          <p>60 minutes</p>
          <p>$190 less Medicare Rebate of $79.05</p>
        </div>
        <div class="flex flex-col">
          <h4 class="pt-4">GP Mental Health Care Plan</h4>
          <p>60 minutes</p>
          <p>$190 less Medicare Rebate of $79.05</p>
        </div>
      </div>
    </div>
  </section>
