<section class="blueprint border-blueprint bg-gradient-to-b from-stone-50 to-stone-100 dark:from-stone-950 dark:to-stone-900 flex-center-outer">
    <div class="w-full max-w-7xl mx-4 my-12 flex flex-col flex-center-inner">
      <h3>Fees, Rebates</h3>
      <div class="justify-center grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-12">
        <div class="flex flex-col">
          <h4 class="pt-4">Private Session</h4>
          <div class="flex flex-row">
            <img class="h-4 self-center pr-1 -mt-1" src="../../_assets/_icons/_time/clock.svg" alt="Duration of appointment">
            <p>50 minutes</p>
          </div>
          <p>$220</p>
        </div>
        <div class="flex flex-col">
          <h4 class="pt-4">GP Mental Health Care Plan</h4>
          <div class="flex flex-row">
            <img class="h-4 self-center pr-1 -mt-1" src="../../_assets/_icons/_time/clock.svg" alt="Duration of appointment">
            <p>50 minutes</p>
          </div>
          <p>$220 less Medicare Rebate of $88.25</p>
          <p></p>
        </div>
        <div class="flex flex-col">
          <h4 class="pt-4">NDIS Self-Managed or Plan-Managed Participants</h4>
          <div class="flex flex-row">
            <img class="h-4 self-center pr-1 -mt-1" src="../../_assets/_icons/_time/clock.svg" alt="Duration of appointment">
            <p>50 minutes</p>
          </div>
          <p>$220 (travel allowance to be discussed if service required in home)</p>
        </div>
        <div class="flex flex-col">
          <h4 class="pt-4">Supervision funded by Service</h4>
          <div class="flex flex-row">
            <img class="h-4 self-center pr-1 -mt-1" src="../../_assets/_icons/_time/clock.svg" alt="Duration of appointment">
          </div>
          <p>$190 (+10% GST)</p>
        </div>
        <div class="flex flex-col">
          <h4 class="pt-4">Consulting and report writing fees</h4>
          <div class="flex flex-row">
            <img class="h-4 self-center pr-1 -mt-1" src="../../_assets/_icons/_time/clock.svg" alt="Duration of appointment">
          </div>
          <p>Request quote via email</p>
        </div>
      </div>
    </div>
  </section>
