<section
  id="waves"
  class="bg-ss_gray/20 bg-cover blueprint border-blueprint flex-center-outer">
  <div class="clear_of_nav w-full max-w-7xl mx-4 flex-center-inner">
    <div class="header-container">
      <h4 class="header-title">Book a Telehealth appointment
      </h4>
      <p class="header-subtitle">To book an appointment, please use the booking form and we will be in touch with you to
        organise a time suitable to yourself.</p>
    </div>
  </div>
</section>
