<section class="introduction dark:introduction-dark bg-cover lg:h-[70vh] xl:h-[70vh] flex-center-outer">
    <div class="w-full max-w-7xl flex flex-col flex-center-inner px-4 lg:px-16 pt-24 md:pt-40 xl:pt-48">
      <div class="grid gap-16 grid-cols-1 lg:grid-cols-2">
        <div class=" h-fit lg:order-2 rounded-t-full overflow-clip ring-8 ring-mh_green/20 ring-offset-4 ring-offset-white dark:ring-offset-stone-950">
          <picture class="w-full h-fit">
            <source srcset="./_assets/_images/office-wide-angle.webp" media="(min-width: 640px)" width="768" height="768">
            <source srcset="./_assets/_images/office-wide-angle.webp" media="(min-width: 0px)" width="640" height="640">
            <img class="easeload" onload="this.style.opacity=1" src="./_assets/_images/office-wide-angle.webp" alt="MyHill interior space" width="1000" height="1000">
          </picture>
        </div>
        <div class="lg:order-1">
          {# <video src="./_assets/_video/welcome.mov" width="600" height="100"></video> #}
          <h3 class="text-xl tracking-widest uppercase opacity-70 font-normal">Welcome to</h3>
          <h4 class="header-title">MyHill Psychology</h4>
          {# <h3 class="">Providing a range of psychology services to the community</h3> #}
          <p class="header-subtitle pb-6">Our vision is to provide a safe and supportive space that is warm and collaborative.  We recognise the privilege it is to share this space and aim to be transparent, respectful and present, using best practices that are individualised and meaningful to you.</p>
        </div>
      </div>
    </div>
  </section>
