<section id="clouds" class="bg-clouds bg-cover blueprint border-blueprint flex-center-outer bg-stone-50 dark:bg-stone-950">
    <div class="clear_of_nav w-full max-w-7xl mx-4 flex-center-inner">
      {# <div class="w-full"> #}
        <div class="header-container">
          <h4 class="header-title">Fees & Rebates</h4>
          <p class="header-subtitle">Sessions are available by appointment only and are 50 minutes in duration.</p>
        </div>
      {# </div> #}
    </div>
  </section>
