<section class="introduction dark:introduction-dark min-h-[50vh] flex-center-outer">
  <div class="w-full max-w-7xl mx-4 flex-center-inner mt-48">
    <div class="header-container">
      <h4 class="header-title">About</h4>
      <p class="header-subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit facere veniam laboriosam magni debitis eveniet nulla, nemo mollitia voluptatum, quae ex delectus facilis ullam consectetur architecto labore dolorum libero maxime.</p>
    </div>
  </div>
</section>
