<section class="introduction-index dark:introduction-index-dark bg-cover lg:h-[70vh] flex-center-outer">
    <div class="w-full max-w-7xl flex flex-col flex-center-inner px-4 lg:px-16 pt-24 md:pt-32 lg:pt-64">
      <div class="grid gap-16 grid-cols-1 lg:grid-cols-2">
        <div class="lg:order-2 rounded-t-full overflow-clip">
          <picture>
            <source srcset="./_assets/_images/office-wide-angle-1000.webp" media="(min-width: 1024px)" width="1280" height="914">
            <source srcset="./_assets/_images/office-wide-angle-1000.webp" media="(min-width: 768px)" width="1024" height="732">
            <source srcset="./_assets/_images/office-wide-angle-1000.webp" media="(min-width: 640px)" width="768" height="549">
            <source srcset="./_assets/_images/office-wide-angle-1000.webp" media="(min-width: 0px)" width="640" height="457">
            <img class="easeload" onload="this.style.opacity=1" src="./_assets/_images/office-wide-angle-1000.webp" alt="MyHill interior space" width="1024" height="732">
          </picture>
        </div>
        <div class="lg:order-1">
          {# <video src="./_assets/_video/welcome.mov" width="600" height="100"></video> #}
          <h2 class="header-title">Welcome to <br>MyHill Psychology</h2>
          {# <h3 class="">Providing a range of psychology services to the community</h3> #}
          <p class="header-subtitle pb-6">Our vision is to provide a safe and supportive space that is warm and collaborative.  We recognise the privilege it is to share this space and aim to be transparent, respectful and present, using best practices that are individualised and meaningful to you.</p>
        </div>
      </div>
    </div>
  </section>
