<section
  id="clouds"
  class="bg-ss_orange/20 bg-cover blueprint border-blueprint flex-center-outer">
  <div
    class="clear_of_nav w-full max-w-7xl mx-4 flex-center-inner">
    {# <div class="w-full"> #}
    <div class="header-container">
      <h4 class="header-title">Fees & Rebates</h4>
      <p class="header-subtitle">Sessions are available by appointment only and are 50 minutes in duration.</p>
    </div>
    {# </div> #}
  </div>
</section>
