<section class="bg-[url('../../_assets/_backgrounds/gradient-pink.svg')] dark:bg-[url('../../_assets/_backgrounds/gradient-pink-dark.svg')] bg-opacity-5 bg-cover bg-bottom blueprint border-blueprint flex-center-outer bg-stone-50 dark:bg-stone-950">
    <div class="clear_of_nav w-full max-w-7xl mx-4 flex-center-inner">
      <div class="header-container">
          <h4 class="header-title">About</h4>
          <p class="header-subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit facere veniam laboriosam magni debitis eveniet nulla, nemo mollitia voluptatum, quae ex delectus facilis ullam consectetur architecto labore dolorum libero maxime.</p>
      </div>
    </div>
  </section>
