<section class="introduction-privacy flex-center-outer">
  <div class="w-full max-w-7xl mx-4  mt-48 flex-center-inner">
    <div class="header-container">
      <h4 class="header-title">Privacy Policy</h4>
      <p class="header-subtitle">MyHill Psychology upholds compliance with the
        <a href="https://www.comlaw.gov.au/Series/C2004A03712">Privacy Act 1988</a>
        and the
        <a href="https://www.oaic.gov.au/privacy/privacy-act/australian-privacy-principles">Australian Privacy Principles 2014</a>
      . This privacy policy covers all personal information we hold, that is, information, or an opinion about an individual,
      whose identity is apparent, or can be reasonably ascertained, from that information or opinion. This includes
      information we have collected from people in person and via telehealth.</p>
    </div>
  </div>
</section>
