<section class="blueprint border-blueprint bg-gradient-to-br from-stone-50 to-stone-100 dark:from-stone-950 dark:to-stone-900 min-h-96 flex-center-outer">
    <div class="clear_of_nav w-full max-w-7xl flex flex-col flex-center-inner mx-4">
      <div class="grid gap-4 grid-cols-1 lg:grid-cols-2">
        <div class="lg:order-2">
          <picture>
            <source srcset="https://placehold.co/1280x914.webp?text=Large+WEBP+image&font=PT+Sans" media="(min-width: 1024px)" width="1280" height="914">
            <source srcset="https://placehold.co/1024x732.webp?text=Medium+WEBP+image&font=PT+Sans" media="(min-width: 768px)" width="1024" height="732">
            <source srcset="https://placehold.co/768x549.webp?text=Small+WEBP+image&font=PT+Sans" media="(min-width: 640px)" width="768" height="549">
            <source srcset="https://placehold.co/640x457.webp?text=Default+WEBP+image&font=PT+Sans" media="(min-width: 0px)" width="640" height="457">
            <img src="https://placehold.co/1024x732.jpg?text=Default+JPG+image&font=PT+Sans" alt="Placeholder image" width="1024" height="732">
          </picture>
        </div>
        <div class="lg:order-1">
          <h2 class="">MyHill Psychology</h2>
          <h3 class="">Providing a range of psychology services to the community</h3>
          <p class="">MyHill Psychology is a private practice located in Queensland. We provide a range of psychology services to
            the community, including individual, couple and family therapy, as well as psychological assessments and reports.</p>
        </div>
      </div>
    </div>
  </section>
