<section class="bg-sunrise bg-cover blueprint border-blueprint bg-stone-100 dark:bg-stone-900 min-h-96 flex-center-outer">
    <div class="clear_of_nav w-full max-w-7xl flex flex-col flex-center-inner mx-4">
      <div class="grid gap-4 grid-cols-1 lg:grid-cols-2">
        <div class="lg:order-2">
          <picture>
            <source srcset="https://placehold.co/1280x914/e7e5e4/d6d3d1.webp?font=source-sans-pro" media="(min-width: 1024px)" width="1280" height="914">
            <source srcset="https://placehold.co/1024x732/e7e5e4/d6d3d1.webp?font=source-sans-pro" media="(min-width: 768px)" width="1024" height="732">
            <source srcset="https://placehold.co/768x549/e7e5e4/d6d3d1.webp?font=source-sans-pro" media="(min-width: 640px)" width="768" height="549">
            <source srcset="https://placehold.co/640x457/e7e5e4/d6d3d1.webp?font=source-sans-pro" media="(min-width: 0px)" width="640" height="457">
            <img class="easeload" onload="this.style.opacity=1" src="https://placehold.co/1024x732/e7e5e4/d6d3d1.jpg?font=source-sans-pro" alt="Placeholder image" width="1024" height="732">
          </picture>
        </div>
        <div class="header-container lg:order-1">
          <h2 class="header-title">Welcome to MyHill Psychology</h2>
          {# <h3 class="">Providing a range of psychology services to the community</h3> #}
          <p class="header-subtitle">I offer primarily telehealth services that includes weeknights and Saturday mornings.  I do have a home office in Burpengary that I utilise for children and adolescents.  My intention is to be proactive, present and dedicated to creating a safe space where you feel heard and valued. I am genuinely focused on creating an authentic connection through a person-led, non-judgmental, curious, and compassionate approach aimed at empowering and nurturing the whole self.</p>
        </div>
      </div>
    </div>
  </section>
