<section class="blueprint border-blueprint bg-gradient-to-bl from-stone-100 to-stone-50 dark:from-stone-900 dark:to-stone-950 flex-center-outer">
    <div class="my-12 w-full max-w-7xl mx-4 flex flex-col flex-center-inner">
      <div class="flex flex-col md:flex-row gap-4">
        <div class="w-full md:w-1/2 md:order-2">
          <img class="w-full rounded-lg owverflow-clip border-r border-b border-slate-500/20" src="../../_assets/_images/annie-spratt-hX_hf2lPpUU-unsplash.webp" alt="placeholder" width="900" height="auto" />
        </div>
        <div class="w-full md:w-1/2 md:order-1 self-center">
          <div class="flex flex-col gap-y-4">
            <h3 class="body-subtitle">Medicare Rebate</h3>
            <p>Under the “Better Access to Mental Health Care” initiative, you can access Medicare rebates for your counselling sessions.  Please see your GP for a Mental Health Care Plan and send this and your referral letter prior to your first appointment or have your Doctor email it to <a href="mailto:myhillpsychology@gmail.com">myhillpsychology@gmail.com</a>.</p>
            <p>You will receive a rebate of $88.25 per session for up to 10 sessions per calendar year.  Subsequent sessions within the calendar year will incur the full session fee.</p>
            <h3 class="body-subtitle">Private Health</h3>
            <p>Private Health Psychology sessions can be claimed with most private health funds when you see a Psychologist.  This is only applicable if you are not already using the Medicare rebate.  Please consult your private health fund for more details, as yearly limits and eligibility vary with funds and levels of cover.  In order to receive your refund, all you need to do is take the receipt to your private health fund to receive the rebate.</p>
            <h4 class="body-subtitle">Please note the following:</h4>
            <ul>
              <li>I do not undertake report writing or legal matters as part of my practice.  I also do not offer appointments through third parties.  If you require a letter of support, I may want to be seeing you consistently for a period of time before agreeing to write a letter</li>
              <li>MyHill psychology is a private practice and does not bulk bill.  Full payment is required prior to the time of the appointment either through bank transfer or via most major credit cards</li>
            </ul>
            <h4 class="body-subtitle">Cancellation Policy</h4>
            <ul>
              <li>As we have a waiting list our appointments are valuable. If you need to reschedule or cancel your appointment, please do so 24 hours prior to your appointment to avoid paying the full fee. This will enable us to provide the appointment to other clients in need</li>
            </ul>
            <p>.</p>
            <div class="flex flex-row gap-4">
              <button class="bg-stone-300 hover:bg-opacity-50 md:w-1/2 text-base py-2 px-4">Find out more</button>
              <button class="bg-stone-300 hover:bg-opacity-50 md:w-1/2 text-base py-2 px-4">Contact us</button>
            </div>
            <div class="flex flex-row gap-4">
              <img class="h-8" src="../../_assets/_images/payment-providers/medicare-australia.svg" alt="Medicare Australia" height="32" />
              <img class="h-8" src="../../_assets/_images/payment-providers/national-disability-insurance-scheme.svg" alt="NDIS" height="32" />
              <img class="h-8" src="../../_assets/_images/payment-providers/bupa.svg" alt="Bupa" height="32" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
