<section class="blueprint border-blueprint bg-gradient-to-b from-stone-50 to-stone-100 dark:from-stone-950 dark:to-stone-900 flex-center-outer">
    <div class="w-full max-w-7xl mx-4 my-12 flex flex-col flex-center-inner">
      <h3>Privacy Policy</h3>
      <div class="justify-center grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-12">

        <h4 class="lg:col-span-1">Information Gathering</h4>
        <p class="lg:col-span-2">Collection of personal information informs clinical assessment and treatment and occurs in a fair and transparent manner. Sensitive information is treated with confidentiality. We will ensure that it is not collected for any purposes, other than those for which we have obtained the client's consent, unless the law requires otherwise, or due to other exceptional circumstances under the Act. Where an individual chooses not to provide requested information, we will advise that individual of what consequences this non-disclosure may have. For example, withholding certain information may limit our ability to provide relevant offers or services to individuals.

        <h4 class="lg:col-span-1">Disclosing Information</h4>
        <div class="lg:col-span-2">
        <p>We will only disclose personal information in accordance with the Privacy Act. This means that personal information may be disclosed:</p>
        <ul class="list-disc list-inside">
          <li>For the advised purposes, and for related purposes that the client can reasonably expect,</li>
          <li>Where we have client consent to do so,</li>
          <li>Where there is concern for the client's safety or the safety of someone else in the community,</li>
          <li>Where there is disclosure of the sexual abuse of a child,</li>
          <li>As required by law (such as via court subpoena or as part of a Restorative Justice Conferencing process), or</li>
          <li>Under other circumstances where permitted under the Act.</li>
        </ul>
        <p>In the course of clinical activities, we may need to disclose some of your personal information to relevant staff.</p>
        </div>

        <h4 class="lg:col-span-1">Unauthorised Disclosure or Access</h4>
        <p>MyHill Psychology is committed to protecting the privacy of individuals, we will view unauthorised disclosure of, or access to, personal information by our employees or contractors, as a serious breach of this policy. Appropriate action (which may include disciplinary or legal action) will be taken in such cases.</p>

        <h4 class="lg:col-span-1">Access to Personal Information</h4>
        <p>Individuals will be able to access their personal information upon request. However, MyHill Psychology may occasionally need to deny access to information in accordance with the exemptions contained in the Act.  All requests for access to personal information should be put in writing to MyHill Psychology.</p>

        <h4 class="lg:col-span-1">​Data Quality</h4>
        <p>We will take all reasonable steps to ensure that the data we collect, use or disclose is accurate, complete and up to date, and has been obtained directly from individuals or other reputable sources.</p>

        <h4 class="lg:col-span-1">Privacy Inquiries</h4>
        <p>Privacy related inquiries or concerns can be directed to MyHill Psychology.</p>

        <h4 class="lg:col-span-1">Availability & Review of Policy</h4>
        <p>We will make our privacy policy available from our website. This policy will be reviewed from time to time and any amendments will be incorporated into the updated policy.</p>

        <h4 class="lg:col-span-1">Security</h4>
        <p>Privacy and confidentiality cannot be guaranteed when engaging with online social work services due to the possibility of insecure connections or data being intercepted through hacking. Information stored on local computers may not be secure or confidential. MyHill Psychology take all reasonable steps to use hardware and software that is well maintained and have the most up to date security systems and firewalls to decrease risks of unwanted access to confidential information.</p>

      </div>
    </div>
  </section>
