<section class="flex-center-outer">
  <div class="my-28 w-full max-w-7xl mx-4 flex flex-col flex-center-inner">
    <div class="w-full flex flex-col">
      <div
        class="mx-auto">
        {# <h2 class="text-center">Services</h2> #}
        <p class="text-center text-2xl pt-24 pb-12">I am experienced in working with children, adolescents and adults and can provide support in
          the following areas:</p>
      </div>
      <ul id="services" class="grid grid-cols-1 md:grid-cols-3 gap-4">
        <li class="flex flex-row gap-4">
          {# <img src="./_assets/_icons/_figma/icon-marquee.svg" class="w-8 h-auto fill-current" alt="Icon placeholder"> #}
          <h3>Complex Trauma and PTSD</h3>
        </li>
        <li class="flex flex-row gap-4">
          {# <img src="./_assets/_icons/_figma/icon-marquee.svg" class="w-8 h-auto fill-current" alt="Icon placeholder"> #}
          <h3>Child and adult Sexual Assault</h3>
        </li>
        <li class="flex flex-row gap-4">
          {# <img src="./_assets/_icons/_figma/icon-marquee.svg" class="w-8 h-auto fill-current" alt="Icon placeholder"> #}
          <h3>Domestic and Family Violence</h3>
        </li>
        <li class="flex flex-row gap-4">
          {# <img src="./_assets/_icons/_figma/icon-marquee.svg" class="w-8 h-auto fill-current" alt="Icon placeholder"> #}
          <h3>Institutional Abuse</h3>
        </li>
        <li class="flex flex-row gap-4">
          {# <img src="./_assets/_icons/_figma/icon-marquee.svg" class="w-8 h-auto fill-current" alt="Icon placeholder"> #}
          <h3>Life Transitions</h3>
        </li>
        <li class="flex flex-row gap-4">
          {# <img src="./_assets/_icons/_figma/icon-marquee.svg" class="w-8 h-auto fill-current" alt="Icon placeholder"> #}
          <h3>Problem and Harmful Sexual Behaviours</h3>
        </li>
        <li class="flex flex-row gap-4">
          {# <img src="./_assets/_icons/_figma/icon-marquee.svg" class="w-8 h-auto fill-current" alt="Icon placeholder"> #}
          <h3>Parent Coaching</h3>
        </li>
        <li class="flex flex-row gap-4">
          {# <img src="./_assets/_icons/_figma/icon-marquee.svg" class="w-8 h-auto fill-current" alt="Icon placeholder"> #}
          <h3>Workplace Issues</h3>
        </li>
        <li class="flex flex-row gap-4">
          {# <img src="./_assets/_icons/_figma/icon-marquee.svg" class="w-8 h-auto fill-current" alt="Icon placeholder"> #}
          <h3>Stress Management</h3>
        </li>
        <li class="flex flex-row gap-4">
          {# <img src="./_assets/_icons/_figma/icon-marquee.svg" class="w-8 h-auto fill-current" alt="Icon placeholder"> #}
          <h3>Anxiety</h3>
        </li>
        <li class="flex flex-row gap-4">
          {# <img src="./_assets/_icons/_figma/icon-marquee.svg" class="w-8 h-auto fill-current" alt="Icon placeholder"> #}
          <h3>Obsessive Compulsive Disorder</h3>
        </li>
        <li class="flex flex-row gap-4">
          {# <img src="./_assets/_icons/_figma/icon-marquee.svg" class="w-8 h-auto fill-current" alt="Icon placeholder"> #}
          <h3>Phobias</h3>
        </li>
        <li class="flex flex-row gap-4">
          {# <img src="./_assets/_icons/_figma/icon-marquee.svg" class="w-8 h-auto fill-current" alt="Icon placeholder"> #}
          <h3>Neurodivergent Affirming (Autism and ADHD)</h3>
        </li>
      </ul>
    </div>
  </div>
</section>
