<section class="blueprint border-blueprint bg-gradient-to-bl from-stone-100 to-stone-50 dark:from-stone-900 dark:to-stone-950 flex-center-outer">
    <div class="my-12 w-full max-w-7xl mx-4 flex flex-col flex-center-inner">
      <div class="flex flex-col md:flex-row gap-4">
        <div class="w-full lg:w-1/3 lg:order-1">
          <picture class="md:hidden block">
            <source class="" srcset="https://placehold.co/900x600.webp?text=Placeholder+image&font=PT+Sans" type="image/webp" width="900" height="600">
            <source class="" srcset="https://placehold.co/900x600.png?text=Placeholder+image&font=PT+Sans" type="image/png" width="900" height="600">
            <img class="w-full" src="https://placehold.co/900x600.png?text=Placeholder+image&font=PT+Sans" alt="placeholder" width="900" height="600">
          </picture>
          <picture class="hidden md:block">
            <source class="" srcset="https://placehold.co/900x600.webp?text=Placeholder+image&font=PT+Sans" type="image/webp" width="900" height="600">
            <source class="" srcset="https://placehold.co/900x600.png?text=Placeholder+image&font=PT+Sans" type="image/png" width="900" height="600">
            <img class="w-full" src="https://placehold.co/900x600.png?text=Placeholder+image&font=PT+Sans" alt="placeholder" width="900" height="600">
          </picture>
        </div>
        <div class="w-full lg:w-2/3 lg:order-2 self-center">
          <div class="flex flex-col gap-y-4">
            <p class="slub">SUPPORT</p>
            <h3>We're here to help</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi modi distinctio, iusto aliquam rem molestias mollitia ipsam nulla sapiente ducimus et eum quo officiis quos vel numquam explicabo natus hic?</p>
            <button class="bg-stone-300 hover:bg-opacity-50 md:w-1/2 text-base py-2">Contact us</button>
          </div>
        </div>
      </div>
    </div>
  </section>
