  <section class="blueprint border-blueprint bg-gradient-to-br from-stone-50 to-stone-100 dark:from-stone-950 dark:to-stone-900 flex-center-outer">
    <div class="w-full max-w-7xl mx-4 my-12 flex flex-col flex-center-inner py-12">
      <img class="h-12" src="../../_assets/_logos/myhill-logo-dark-sm.svg" alt="Logo" width="48" height="48">
      <blockquote class="mt-4 text-2xl font-normal text-stone-900 dark:text-stone-50">
        <p class="mb-4">"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, voluptatum, voluptates, atque, ex voluptas quibusdam quod quos asperiores quas voluptatibus alias tempora nemo nulla totam vitae. "</p>
        <footer class="text-stone-500 dark:text-stone-400 text-base italic">- Person Name, Month, Year</footer>
      </blockquote>
    </div>
  </section>
