@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* text-sky-600 */
    --text_primary_light: 2 132 199;
    /* text-sky-400  */
    --text_primary_glare-light: 56 189 248;
    /* text-pink-600 */
    --text_secondary_dark: 219 39 119;
    /* text-pink-400 */
    --text_secondary_glare_dark: 244 114 182;
    /* text-pink-500 */
    --text_neutral_light: 236 72 153;
    /* text-pink-500 */
    --text_neutral_dark: 236 72 153;
  }
  ::selection {
    @apply bg-sky-600 text-white dark:bg-pink-600;
  }
}

/* extract repeated utility patterns to custom CSS classes when a template partial feels heavy-handed */
@layer components {
  /* Global variables setup on the :root pseudo-class */
  /* Andy Bell – Be the browser’s mentor, not its micromanager - https: //www.youtube.com/watch?v=5uhIiI9Ld5M&t=812s */

  /* A Modern CSS Reset - https: //piccalil.li/blog/a-modern-css-reset/ */
  /* Box sizing rules */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  /* Remove default margin */
  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin: 0;
  }

  /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
  ul[role="list"],
  ol[role="list"] {
    list-style: none;
  }

  /* Set core root defaults */
  html:focus-within {
    scroll-behavior: smooth;
  }

  /* Set core body defaults */
  body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
  }

  /* A elements that don't have a class get default styles */
  a:not([class]) {
    text-decoration-skip-ink: auto;
  }

  /* Make images easier to work with */
  img,
  picture {
    max-width: 100%;
    display: block;
  }

  /* Inherit fonts for inputs and buttons */
  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  /* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
  @media (prefers-reduced-motion: reduce) {
    html:focus-within {
      scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }

  /* ------------------------------------------------------------------ */
  /* ^^^ end of A Modern CSS reset code ^^^  */

  /* -------------------- Andy Bell's sensible code defaults ----------------------- */

  /* ==========================|==========================Sensible defaults
    Can include text-color, background-color, border-color
    Variations could include inv, contrast
    Also could include primary color, secondary color, tertiary/quaternary color - don't forget to include a neutral color and remeber the correct proportions to use of primary, secondary and tertiary colours.

    Set up some sensible design tokens to allow us to set up a solid foundation for a consistent user interface
    /* -------------------- | ----------------------- */

  :root {
    --space-xs: clamp(0.75rem, 0.69rem + 0.29vw, 0.9375rem);
    --space-xs-s: clamp(0.75rem, 0.59rem + 0.78vw, 1.25rem);
    --space-s: clamp(1rem, 0.92rem + 0.39vw, 1.25rem);
    --space-s-m: clamp(1rem, 0.73rem + 1.36vw, 1.875rem);
    --space-m: clamp(1.5rem, 1.38rem + 0.58vw, 1.875rem);
    --space-m-l: clamp(1.5rem, 1.19rem + 1.55vw, 2.5rem);
    --space-l: clamp(2rem, 1.84rem + 0.78vw, 2.5rem);
    --space-l-xl: clamp(2rem, 1.46rem + 2.72vw, 3.75rem);
    --space-l-2xl: clamp(2rem, 1.07rem + 4.66vw, 5rem);
    --space-xl: clamp(3rem, 2.77rem + 1.17vw, 3.75rem);
    --space-xl-2xl: clamp(3rem, 2.38rem + 3.11vw, 5rem);
    --space-2xl: clamp(4rem, 3.69rem + 1.55vw, 5rem);
    --space-2xl-3xl: clamp(4rem, 2.91rem + 5.44vw, 7.5rem);
    --space-3xl: clamp(6rem, 5.53rem + 2.33vw, 7.5rem);

    --size-step-0: clamp(1rem, 0.92rem + 0.39vw, 1.25rem);
    --size-step-1: clamp(1.1875rem, 1.01rem + 0.87vw, 1.75rem);
    --size-step-2: clamp(1.4375rem, 1.11rem + 1.65vw, 2.5rem);
    --size-step-3: clamp(1.75rem, 1.19rem + 2.82vw, 3.5625rem);
    --size-step-4: clamp(2.0625rem, 1.15rem + 4.56vw, 5rem);
    --size-step-5: clamp(2.5rem, 1.08rem + 7.09vw, 7.0625rem);
    --size-step-6: clamp(3rem, 0.84rem + 10.78vw, 9.9375rem);

    --font-base: NexaText, Inter, Segoe UI, Roboto, Helvetica Neue, Arial,
      sans-serif;
    --font-serif: Georgia, sans-serif;

    --gutter: var(--space-s);
    --border-radius: var(--size-step-1);
    --transition-base: 250ms ease;
    --transition-movement: 200ms linear;
    --transition-fade: 200ms ease;
    --transition-bounce: 500ms cubic-bezier(0.5, 0.05, 0.2, 1.5);
    --tracking: -0.05ch;
    --tracking-s: -0.075ch;
  }

  /* ----------------------------------------------------------------------- */

  /* Temporary development server rules */
  .blueprint > div {
    /* @apply border border-dashed border-sky-400 border-opacity-25 bg-sky-200 dark:bg-sky-800 bg-opacity-25; */
  }

  .border-blueprint {
    /* @apply border border-dashed border-sky-400 border-opacity-25; */
  }

  /* Global Styles */
  html {
    visibility: hidden;
  }

  body {
    @apply bg-stone-50 text-stone-800 dark:bg-stone-950 dark:text-stone-100;
    font-size: var(--size-step-1);
    font-family: "NexaText", sans-serif;
    line-height: 1.4;
    letter-spacing: var(--tracking);
  }

  :focus {
    outline-offset: 0.3ch;
  }

  :target {
    scroll-margin-top: 2ex;
  }

  main:focus {
    outline: none;
  }

  /* Headings */
  h1,
  h2,
  h3 {
    line-height: 1;
    letter-spacing: var(--tracking);
    max-width: 48ch;
  }

  h1 {
    font-size: var(--size-step-3);
  }

  h2 {
    font-size: var(--size-step-2);
  }

  h3 {
    font-size: var(--size-step-1);
  }

  /* Text Elements */
  p,
  li,
  blockquote:not([class]) {
    max-width: 55ch;
    font-size: var(--size-step-0);
  }

  blockquote:not([class]) {
    font-family: var(--font-serif);
    font-size: var(--size-step-2);
  }

  blockquote:not([class]) p:last-of-type {
    font-family: var(--font-base);
    font-size: var(--size-step-1);
    font-weight: 400;
  }

  /* Alignment */
  body > * {
    @apply items-center;
  }

  /* SVG */
  svg {
    flex: none;
    height: 2ex;
    width: auto;
  }

  [role="list"] {
    padding: 0;
  }

  /* Links */
  a {
    color: currentcolor;
  }

  a:hover {
    text-decoration: none;
  }

  /* Selection */
  ::selection {
    background: var(--color-dark);
    color: var(--color-light);
  }

  /* Active Class */
  .active-class {
    @apply border-l-4 pl-4 lg:border-l-0 lg:pl-0 lg:pb-1 lg:border-b-4 border-solid border-sky-500 dark:border-pink-600;
  }

  /* Dotted Outline */
  .dotted-outline {
    @apply border-2 border-dotted border-red-600;
  }

  /* Blog post / latest news styling */
  .article-header-headline {
    @apply border-b border-black/10 pb-6 text-xs uppercase tracking-widest opacity-50 dark:border-white/10;
  }

  article .post-container h1 {
    @apply py-16 pb-6;
  }

  article .post-container h2 {
    @apply pb-4 pt-3 text-2xl;
  }

  article .post-container h3 {
    @apply text-xl;
  }

  article .post-container h4 {
    @apply text-lg;
  }

  article .post-container ol,
  article .post-container ul {
    @apply py-4 pl-8;
  }

  article .post-container li {
    @apply text-xl;
  }

  article .post-container ol {
    @apply list-decimal;
  }

  article .post-container ul {
    @apply list-disc;
  }

  article .post-container blockquote {
    @apply border-l-4 border-solid border-gray-300 dark:border-gray-600;
    @apply pb-4 pl-4 pr-4;
    @apply text-lg;
  }

  article .post-container .post-content p:first-child {
    @apply font-bold;
  }
  /*

/* Default heading padding */
h1, h2, h3 {
  @apply pb-4;
}

/* Text color */
  .default-text-color {
    color: var(--text-neutral-dark);
    @apply dark:text-stone-100;
  }

  .default-text-color-inv {
    @apply text-stone-100 dark:text-stone-800;
  }

  /* Background color */
  .default-bg-color {
    @apply bg-stone-100 dark:bg-stone-800;
  }

  /* Default background color alternative */
  .default-bg-color-alt {
    @apply bg-stone-50 dark:bg-stone-900;
  }

  /* Default background that contrasts against both default and alt versions of bg color */
  .default-bg-color-contrast {
    @apply bg-stone-200 dark:bg-stone-700;
  }

  /* Default shadow */
  .default-shadow {
    @apply shadow-stone-300 dark:shadow-stone-900;
  }

  /* Default border */
  .default-border {
    @apply border border-stone-200 dark:border-stone-700;
  }

  /* Flex centering classes */
  .flex-center-outer {
    @apply flex h-fit items-center justify-center;
  }

  .flex-center-inner {
    @apply items-center justify-center;
  }

  .svg-icon-container {
    @apply h-12 w-12 shrink sm:h-12 sm:w-12 md:h-8 md:w-8;
  }

  /*
==========================|==========================
                      navigation
==========================|==========================
*/
  .navigation-unordered_list-large {
    @apply flex flex-row items-center justify-center gap-x-8;
  }

  .navigation-unordered_list-item-large {
    @apply flex flex-row items-center justify-center gap-x-2;
  }

  .navigation-unordered_list-item_icon-large {
    @apply shrink grow-0 lg:h-8 lg:w-8;
  }

  .navigation-unordered_list-item_text_link-large {
    @apply font-semibold capitalize tracking-widest lg:text-sm text-stone-950 dark:text-stone-50;
  }

  .navigation-unordered_list-small {
    @apply mx-auto flex w-3/4 flex-col gap-y-2 divide-y divide-dashed divide-stone-600/70 rounded-lg border border-white/10 bg-stone-50 bg-gradient-to-br from-stone-100/80 to-stone-100/40 px-2 py-4 shadow-xl shadow-stone-500 sm:max-w-sm sm:px-16 sm:py-12;
  }

  .navigation-unordered_list-item-small {
    @apply flex flex-row justify-start gap-x-3 px-4 pt-2;
  }

  /* .navigation-unordered_list-item_icon-small {
  @apply h-10 w-10 shrink-0 grow-0;
} */

  .navigation-unordered_list-item_text_link-small {
    @apply text-lg font-bold capitalize tracking-wider text-stone-700;
  }

  /*
  ==========================|==========================
                      Text styling
  ==========================|==========================
  */
  /* Smaller, lighter, uppercase, bolder  */
  .caps-header {
    @apply block px-8 py-12 text-center text-lg uppercase tracking-[0.5rem] text-violet-900 dark:text-violet-100;
  }

  .slub {
    @apply text-sm font-bold uppercase tracking-[0.3rem] text-stone-700 dark:text-stone-200;
  }

  .basic-body {
    @apply text-2xl opacity-70 md:text-xl;
  }

  .main-service-icon-container {
    @apply flex h-48 w-48 shrink-0 items-center justify-center self-start overflow-visible drop-shadow-md sm:self-center;
  }

  .basic-subhead {
    @apply text-2xl lg:text-3xl;
  }

  /*
  ==========================|==========================
                      Card styling
  ==========================|==========================
  */
  .card-basic-styling {
    @apply rounded-lg border border-sky-200 bg-gradient-to-tr from-slate-200/80 to-white/80 shadow-lg shadow-slate-500 dark:border-fuchsia-900 dark:from-fuchsia-800/70 dark:to-black/70 dark:shadow-stone-700;
  }

  .card-header-banner-styling {
    @apply rounded-t-lg border-b border-sky-300 bg-gradient-to-b from-sky-100 to-sky-200 text-sky-800 shadow-md dark:border-fuchsia-900 dark:from-fuchsia-700 dark:to-fuchsia-800 dark:text-fuchsia-100;
  }
  .card-price-styling {
    @apply pt-8 font-chinook text-7xl drop-shadow-md;
  }

  .card-price-colour-blue {
    @apply text-sky-500 dark:text-fuchsia-200;
  }

  .card-price-colour-yellow {
    @apply text-yellow-200 dark:text-fuchsia-200;
  }

  .card-price-colour-green {
    @apply text-green-500 dark:text-fuchsia-200;
  }

  .card-bullet-styling {
    @apply mr-4 flex h-6 w-6 shrink-0 items-center justify-center overflow-hidden rounded-full p-1 ring-2 ring-offset-2;
  }

  .card-bullet-colour-yellow {
    @apply bg-gradient-to-br from-amber-300 to-amber-400 shadow-inner shadow-amber-600/20 ring-amber-200 dark:from-amber-300 dark:to-amber-400 dark:shadow-amber-600 dark:ring-amber-100;
  }

  .card-bullet-colour-blue {
    @apply bg-sky-300 shadow-inner shadow-sky-600/20 ring-sky-200 dark:bg-sky-400 dark:shadow-sky-600 dark:ring-sky-300;
  }

  .card-bullet-colour-green {
    @apply bg-green-400 shadow-inner shadow-green-600/20 ring-green-200 dark:bg-green-400 dark:shadow-green-600 dark:ring-green-300;
  }

  .card-list-item-styling {
    @apply flex items-center justify-center text-xl font-bold leading-5;
  }

  .card-list-item-colour-yellow {
    @apply text-orange-600 dark:text-amber-300;
  }

  .card-list-item-colour-blue {
    @apply text-sky-800 dark:text-sky-200;
  }

  .card-list-item-colour-green {
    @apply text-emerald-800 dark:text-emerald-200;
  }

  /*
  ==========================|==========================
                    Special type styles
  ==========================|==========================
  */

  .highImpact {
    @apply mr-4 bg-stone-400 py-0 pr-4 text-black md:ml-2 md:pl-4 md:pr-6;
  }

  .gradientText {
    color: transparent;
    @apply bg-gradient-to-r from-stone-500 via-stone-500 to-emerald-500 bg-clip-text pr-2 dark:from-stone-500 dark:via-emerald-400 dark:to-indigo-500;
  }

  .article {
    width: 49ch;
  }

  .article h1 {
    font-size: 3.052rem;
    line-height: 64px;
  }

  .article h2 {
    font-size: 2.441rem;
    line-height: 60px;
  }

  .article h3 {
    font-size: 1.953rem;
    line-height: 56px;
  }

  .article h4 {
    font-size: 1.563rem;
    line-height: 32px;
  }

  .article h5 {
    font-size: 1.25rem;
    line-height: 28px;
  }

  .article ul {
    margin-left: 32px;
    list-style: circle;
    padding: 16px 0;
  }

  .article li {
    font-size: 1rem;
    margin: 0 0 16px 0;
  }

  .article p {
    font-size: 1.4rem;
    line-height: 2rem;
    margin: 16px 0;
  }

  .article pre {
    padding: 16px;
    margin: 16px 0;
    background-color: rgba(255, 255, 255, 0.1);
  }

  /*
  ==========================|==========================
                    Container styles
  ==========================|==========================
  */
  .headline-container {
    @apply mx-auto pb-12 text-center;
  }

  .headline-title {
    @apply mx-auto max-w-4xl pb-4 text-6xl font-semibold text-stone-900 dark:text-stone-300 sm:text-7xl md:text-6xl lg:text-6xl;
  }

  .headline-paragraph {
    @apply mx-auto max-w-3xl px-4 text-xl font-normal text-stone-700 dark:text-stone-300 md:text-2xl;
  }

  .headline-subhead {
    @apply mb-2 font-maven text-lg font-medium leading-tight text-stone-700 dark:text-stone-300 sm:text-xl md:text-2xl;
  }

  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500;
  }

  /*
                ==========================|==========================
                              Clip-paths for between divs
                ==========================|==========================
                */
  .slanted-top {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 50px));
  }

  .slanted-bottom {
    clip-path: polygon(0 0, 100% 50px, 100% 100%, 0 100%);
    margin-top: -40px;
  }

  .arrow-top {
    clip-path: polygon(
      0 0,
      100% 0,
      100% calc(100% - 50px),
      50% 100%,
      0 calc(100% - 50px)
    );
  }

  .arrow-bottom {
    clip-path: polygon(0 0, 50% 50px, 100% 0, 100% 100%, 0 100%);
    margin-top: -40px;
  }

  /*
  ==========================|==========================
                         Buttons
  ==========================|==========================
  */
  .buttonDefaults {
    @apply rounded-md bg-gradient-to-b from-white/50 to-neutral-900/10 py-4 text-3xl tracking-wide shadow-md shadow-neutral-900/20 md:px-2 lg:text-xl;
  }

  .buttonDefaults:hover {
    @apply scale-105 transform bg-gradient-to-t transition-transform;
  }

  .buttonCTA {
    @apply border-stone-400 bg-gradient-to-r from-stone-500 via-stone-600 to-stone-500 text-stone-50;
  }

  .buttonCTA:hover {
    @apply from-stone-600 via-stone-500 to-stone-600;
  }

  .transition-gradient {
    transition-property: --tw-gradient-to, --tw-gradient-from,
      --tw-gradient-stops;
  }

  /* Set this to the branding or primary colour */
  .buttonPrimary {
    @apply bg-stone-700 text-stone-50;
  }

  .buttonSecondary {
    @apply text-stone-900 dark:text-stone-200;
  }

  .buttonSecondaryAlt {
    @apply bg-stone-50 text-stone-900 dark:bg-stone-100 dark:text-stone-900;
  }

  .buttonTertiary {
    @apply border-transparent bg-none text-stone-900 shadow-none dark:text-stone-200;
  }

  .buttonDisabled {
    @apply border-transparent bg-stone-200 text-stone-700 shadow-none;
  }

  .buttonWarning {
    @apply border-stone-300 bg-stone-200 text-stone-700 shadow-none;
  }

  .buttonError {
    @apply border-red-300 bg-red-200 text-red-700 shadow-none;
  }

  .buttonSuccess {
    @apply border-lime-300 bg-lime-200 text-lime-700 shadow-none;
  }

  /*
  ==========================|==========================
                          Misc
  ==========================|==========================
        */

  :target::before {
    content: "";
    display: block;
    height: 100px;
    margin: -100px 0 0;
    /* @apply  border border-dashed border-pink-500; */
  }

  .priceReduction {
    text-decoration-color: fuchsia;
    opacity: 0.8;
    text-decoration-thickness: 0.2rem;
  }

  /* business-info-1 services list item containers */
  .flex-container-service {
    @apply flex shrink items-start rounded-lg border border-stone-200 p-4 dark:border-stone-600;
  }

  .icon-container {
    @apply flex h-20 w-20 shrink-0 overflow-visible xl:h-24 xl:w-24;
  }

  .imgCaption {
    @apply mb-16 mt-4 border-t pt-4 text-center font-caption uppercase tracking-widest text-stone-500 dark:border-stone-700;
  }

  /*
    ==========================|==========================
                Fonts | Typography | Lettering
    ==========================|==========================
    */

  .ligatures {
    font-variant-ligatures: discretionary-ligatures;
  }

  @font-face {
    font-family: "Chinook";
    src: url("../css/typography/chinook-regular.woff2") format("woff2"),
      url("../css/typography/chinook-regular.woff") format("woff"),
      local("Chinook");
    font-display: swap;
    /* block - Gives the font face a short block period and an infinite swap period
                                                                                https: //developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display#values */
    font-display: block;
  }

  @font-face {
    font-family: "NexaText";
    src: url("../css/typography/nexa-text-regular.woff2") format("woff2"),
      url("../css/typography/nexa-text-regular.woff") format("woff"),
      local("Nexa-Text-Regular"), local("Nexa Text Regular");
    font-weight: 400;
    font-display: block;
  }

  @font-face {
    font-family: "NexaText";
    src: url("../css/typography/nexa-text-regular-italic.woff2") format("woff2"),
      url("../css/typography/nexa-text-regular-italic.woff") format("woff"),
      local("Nexa-Text-Regular-Italic"), local("Nexa Text Regular Italic");
    font-weight: 400;
    font-display: block;
    font-style: italic;

    @font-face {
      font-family: "NexaText";
      src: url("../css/typography/nexa-text-bold.woff2") format("woff2"),
        url("../css/typography/nexa-text-bold.woff") format("woff"),
        local("Nexa-Text-Bold"), local("Nexa Text Bold");
      font-weight: 700;
      font-display: block;
    }

    @font-face {
      font-family: "NexaText";
      src: url("../css/typography/nexa-text-bold-italic.woff2") format("woff2"),
        url("../css/typography/nexa-text-bold-italic.woff") format("woff"),
        local("Nexa-Text-Bold-Italic"), local("Nexa Text Bold Italic");
      font-weight: 700;
      font-display: block;
      font-style: italic;

      @font-face {
        font-family: "NexaText";
        src: url("../css/typography/nexa-text-extra-bold.woff2") format("woff2"),
          url("../css/typography/nexa-text-extra-bold.woff") format("woff"),
          local("Nexa-Text-Extra-Bold"), local("Nexa Text Extra Bold");
        font-weight: 800;
        font-display: block;
        @font-face {
          font-family: "NexaText";
          src: url("../css/typography/nexa-text-extra-bold-italic.woff2")
              format("woff2"),
            url("../css/typography/nexa-text-extra-bold-italic.woff")
              format("woff"),
            local("Nexa-Text-Extra-Bold-Italic"),
            local("Nexa Text Extra Bold Italic");
          font-weight: 800;
          font-display: block;
          font-style: italic;

          @font-face {
            font-family: "NexaText";
            src: url("../css/typography/nexa-text-black.woff2") format("woff2"),
              url("../css/typography/nexa-text-black.woff") format("woff"),
              local("Nexa-Text-Black"), local("Nexa Text Extra Black");
            font-weight: 900;
            font-display: block;
          }

          @font-face {
            font-family: "NexaText";
            src: url("../css/typography/nexa-text-black-italic.woff2")
                format("woff2"),
              url("../css/typography/nexa-text-black-italic.woff")
                format("woff"),
              local("Nexa-Text-Black-Italic"),
              local("Nexa Text Extra Black Italic");
            font-weight: 900;
            font-display: block;
            font-style: italic;
          }

          /* Optician Sans */
          @font-face {
            font-family: OpticianSans;
            font-weight: 400;
            src: url("./typography/optician-sans.woff2") format("woff2"),
              url("./typography/optician-sans.woff") format("woff");
            font-display: swap;
          }
        }

        /* CustomCSS */
        @layer utilities {
          .animation-delay-2000 {
            animation-delay: 2s;
          }

          .animation-delay-4000 {
            animation-delay: 4s;
          }

          .above-the-fold {
            font-family: "NexaText", sans-serif;
          }

          @supports (font-variation-settings: normal) {
            .above-the-fold {
              font-family: "NexaText", sans-serif;
            }
          }
        }
      }
    }
  }
}
