@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* text-sky-600 */
    --text_primary_light: 2 132 199;
    /* text-sky-400  */
    --text_primary_glare-light: 56 189 248;
    /* text-pink-600 */
    --text_secondary_dark: 219 39 119;
    /* text-pink-400 */
    --text_secondary_glare_dark: 244 114 182;
    /* text-pink-500 */
    --text_neutral_light: 236 72 153;
    /* text-pink-500 */
    --text_neutral_dark: 236 72 153;
  }
  ::selection {
    @apply bg-sky-600 text-white dark:bg-pink-600;
  }
}

/* extract repeated utility patterns to custom CSS classes when a template partial feels heavy-handed */
@layer components {
  /* Global variables setup on the :root pseudo-class */
  /* Andy Bell – Be the browser’s mentor, not its micromanager - https: //www.youtube.com/watch?v=5uhIiI9Ld5M&t=812s */

  /* A Modern CSS Reset - https: //piccalil.li/blog/a-modern-css-reset/ */
  /* Box sizing rules */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  /* Remove default margin */
  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin: 0;
  }

  /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
  ul[role="list"],
  ol[role="list"] {
    list-style: none;
  }

  /* Set core root defaults */
  html:focus-within {
    scroll-behavior: smooth;
  }

  /* Set core body defaults */
  body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
  }

  /* A elements that don't have a class get default styles */
  a:not([class]) {
    text-decoration-skip-ink: auto;
  }

  /* Make images easier to work with */
  img,
  picture {
    max-width: 100%;
    display: block;
  }

  /* Inherit fonts for inputs and buttons */
  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  /* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
  @media (prefers-reduced-motion: reduce) {
    html:focus-within {
      scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }

  /* ------------------------------------------------------------------ */
  /* ^^^ end of A Modern CSS reset code ^^^  */

  /* -------------------- Andy Bell's sensible code defaults ----------------------- */

  /* ==========================|==========================Sensible defaults
    Can include text-color, background-color, border-color
    Variations could include inv, contrast
    Also could include primary color, secondary color, tertiary/quaternary color - don't forget to include a neutral color and remeber the correct proportions to use of primary, secondary and tertiary colours.

    Set up some sensible design tokens to allow us to set up a solid foundation for a consistent user interface
    /* -------------------- | ----------------------- */

  :root {
    --space-xs: clamp(0.75rem, 0.69rem + 0.29vw, 0.9375rem);
    --space-xs-s: clamp(0.75rem, 0.59rem + 0.78vw, 1.25rem);
    --space-s: clamp(1rem, 0.92rem + 0.39vw, 1.25rem);
    --space-s-m: clamp(1rem, 0.73rem + 1.36vw, 1.875rem);
    --space-m: clamp(1.5rem, 1.38rem + 0.58vw, 1.875rem);
    --space-m-l: clamp(1.5rem, 1.19rem + 1.55vw, 2.5rem);
    --space-l: clamp(2rem, 1.84rem + 0.78vw, 2.5rem);
    --space-l-xl: clamp(2rem, 1.46rem + 2.72vw, 3.75rem);
    --space-l-2xl: clamp(2rem, 1.07rem + 4.66vw, 5rem);
    --space-xl: clamp(3rem, 2.77rem + 1.17vw, 3.75rem);
    --space-xl-2xl: clamp(3rem, 2.38rem + 3.11vw, 5rem);
    --space-2xl: clamp(4rem, 3.69rem + 1.55vw, 5rem);
    --space-2xl-3xl: clamp(4rem, 2.91rem + 5.44vw, 7.5rem);
    --space-3xl: clamp(6rem, 5.53rem + 2.33vw, 7.5rem);

    --size-step-0: clamp(1rem, 0.92rem + 0.39vw, 1.25rem);
    --size-step-1: clamp(1.1875rem, 1.01rem + 0.87vw, 1.75rem);
    --size-step-2: clamp(1.4375rem, 1.11rem + 1.65vw, 2.5rem);
    --size-step-3: clamp(1.75rem, 1.19rem + 2.82vw, 3.5625rem);
    --size-step-4: clamp(2.0625rem, 1.15rem + 4.56vw, 5rem);
    --size-step-5: clamp(2.5rem, 1.08rem + 7.09vw, 7.0625rem);
    --size-step-6: clamp(3rem, 0.84rem + 10.78vw, 9.9375rem);

    --font-base: Inter, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
    --font-serif: Georgia, sans-serif;

    --gutter: var(--space-s);
    --border-radius: var(--size-step-1);
    --transition-base: 250ms ease;
    --transition-movement: 200ms linear;
    --transition-fade: 200ms ease;
    --transition-bounce: 500ms cubic-bezier(0.5, 0.05, 0.2, 1.5);
    --tracking: -0.05ch;
    --tracking-s: -0.075ch;
  }

  /* ----------------------------------------------------------------------- */

  /* Temporary development server rules */
  .blueprint > div {
    /* @apply border border-dashed border-sky-400 border-opacity-25 bg-sky-200/10 dark:bg-sky-800/10 bg-opacity-25; */
  }

  .border-blueprint {
    /* @apply border border-dashed border-sky-400 border-opacity-25; */
  }

  .tester {
    background: url('../_assets/_images/_sections/paul-earle-wVjd0eWNqI8-unsplash copy.webp');
  }
  /* Global Styles */
  html {
    visibility: hidden;
  }

  body {
    @apply bg-stone-50 text-stone-800 dark:bg-stone-950 dark:text-stone-100;
    font-size: var(--size-step-1);
    font-family: "Inter", sans-serif;
    line-height: 1.4;
    letter-spacing: var(--tracking);
  }

  :focus {
    outline-offset: 0.3ch;
  }

  :target {
    scroll-margin-top: 2ex;
  }

  main:focus {
    outline: none;
  }

  /* Headings */
  h1,
  h2,
  h3 {
    line-height: 1;
    letter-spacing: var(--tracking);
    max-width: 48ch;
  }

  /* CSS text-wrap: balance; will evenly distribute your text on available lines. - https://twitter.com/wesbos/status/1648722862717521923
  This has a limit of 4 lines of text for performance, so not that useful on the p element */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  figcaption,
  blockquote,
  legend,
  caption {
    text-wrap: balance;
  }

  h1 {
    font-size: var(--size-step-3);
  }

  h2 {
    font-size: var(--size-step-3);
    font-weight: 700;
  }

  h3 {
    font-size: var(--size-step-1);
    font-weight: 700;
  }
  h4 {
    font-weight: 700;
  }

  /* Text Elements */
  p,
  li,
  blockquote:not([class]) {
    max-width: 55ch;
    font-size: var(--size-step-0);
  }

  blockquote:not([class]) {
    font-family: var(--font-serif);
    font-size: var(--size-step-2);
  }

  blockquote:not([class]) p:last-of-type {
    font-family: var(--font-base);
    font-size: var(--size-step-1);
    font-weight: 400;
  }

  /* Alignment */
  body > * {
    @apply items-center;
  }

  /* Making sure that the element has clearance from the navigation area */
  .clear_of_nav {
    @apply mb-12 mt-28 xl:mt-36;
  }

  /* SVG */
  svg {
    flex: none;
    height: 2ex;
    width: auto;
  }

  [role="list"] {
    padding: 0;
  }

  /* Links */
  a {
    color: currentcolor;
  }

  a:hover {
    text-decoration: none;
  }

  /* Selection */
  ::selection {
    background: var(--color-dark);
    color: var(--color-light);
  }

  /* Active Class */
  .active-class {
    @apply text-sky-400 dark:text-pink-600;
  }

  /* Dotted Outline */
  .dotted-outline {
    @apply border-2 border-dotted border-red-600;
  }

  /* Default heading padding */
  h1,
  h2,
  h3 {
    @apply pb-4;
  }

  /* Text color */
  .default-text-color {
    color: var(--text-neutral-dark);
    @apply dark:text-stone-100;
  }

  /* Background color */
  .default-bg-color {
    @apply bg-stone-100 dark:bg-stone-800;
  }

  /* Default shadow */
  .default-shadow {
    @apply shadow-stone-300 dark:shadow-stone-900;
  }

  /* Default border */
  .default-border {
    @apply border border-stone-200 dark:border-stone-700;
  }

  /* Flex centering classes */
  .flex-center-outer {
    @apply flex h-fit items-center justify-center;
  }

  .flex-center-inner {
    @apply items-center justify-center;
  }

  /*
==========================|==========================
                      navigation
==========================|==========================
*/
  .navigation-unordered_list-large {
    @apply flex flex-row items-center justify-center gap-x-8;
  }

  .navigation-unordered_list-item-large {
    @apply flex flex-row items-center justify-center gap-x-2;
  }

  .navigation-unordered_list-item_icon-large {
    @apply shrink grow-0 lg:h-8 lg:w-8;
  }

  .navigation-unordered_list-item_text_link-large {
    @apply font-semibold capitalize tracking-widest text-stone-950 dark:text-stone-50 lg:text-sm;
  }

  .navigation-unordered_list-small {
    @apply mx-auto flex flex-col gap-y-2 divide-y divide-dashed divide-stone-600/70 rounded-lg border border-white/10 bg-stone-50 bg-gradient-to-br from-stone-100/80 to-stone-100/40 px-16 py-16 shadow-xl shadow-stone-500 dark:shadow-none;
  }

  .navigation-unordered_list-item-small {
    @apply flex flex-row justify-start gap-x-3 px-4 pt-2;
  }

  /* .navigation-unordered_list-item_icon-small {
  @apply h-10 w-10 shrink-0 grow-0;
} */

  .navigation-unordered_list-item_text_link-small {
    @apply text-lg font-bold capitalize tracking-wider text-stone-700;
  }

  /*
  ==========================|==========================
                      Text styling
  ==========================|==========================
  */
  /* Smaller, lighter, uppercase, bolder  */
  .slub {
    @apply text-sm font-bold uppercase tracking-[0.3rem] text-stone-700 dark:text-stone-200;
  }

  /*
  ==========================|==========================
                    Special type styles
  ==========================|==========================
  */

  .gradientText {
    color: transparent;
    @apply bg-gradient-to-r from-stone-500 via-stone-500 to-emerald-500 bg-clip-text pr-2 dark:from-stone-500 dark:via-emerald-400 dark:to-indigo-500;
  }

  .text-gradient {
    @apply bg-gradient-to-r from-pink-500 to-violet-500 bg-clip-text text-transparent;
  }

  /*
  ==========================|==========================
                Clip-paths for between divs
  ==========================|==========================
  */
  .slanted-top {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 50px));
  }

  .slanted-bottom {
    clip-path: polygon(0 0, 100% 50px, 100% 100%, 0 100%);
    margin-top: -40px;
  }

  .arrow-top {
    clip-path: polygon(
      0 0,
      100% 0,
      100% calc(100% - 50px),
      50% 100%,
      0 calc(100% - 50px)
    );
  }

  .arrow-bottom {
    clip-path: polygon(0 0, 50% 50px, 100% 0, 100% 100%, 0 100%);
    margin-top: -40px;
  }

  /*
    ==========================|==========================
                Fonts | Typography | Lettering
    ==========================|==========================
    */

  .ligatures {
    font-variant-ligatures: discretionary-ligatures;
  }

  @font-face {
    font-family: "Inter";
    src: url("../css/typography/Inter-VariableFont_slnt,wght.ttf") format("ttf"),
      local("Inter");
    font-display: block;
  }
  /* Optician Sans */
  @font-face {
    font-family: OpticianSans;
    font-weight: 400;
    src: url("./typography/optician-sans.woff2") format("woff2"),
      url("./typography/optician-sans.woff") format("woff");
    font-display: swap;
  }
}

/* CustomCSS */
@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }

  .animation-delay-4000 {
    animation-delay: 4s;
  }

  .above-the-fold {
    font-family: "Inter", sans-serif;
  }

  @supports (font-variation-settings: normal) {
    .above-the-fold {
      font-family: "Inter", sans-serif;
    }
  }
}
