---
title: About
description: This is the about page.
eleventyNavigation:
  key: about
  order: 5
  icon: nav-icon-about.svg
---

{# The layout to use #}
{% extends "src/_includes/default.njk" %}

  {% block content %}

  <!-- ==========================|========================== -->
  <!--                      HEADER_ABOUT                     -->
  <!-- ==========================|========================== -->

  {% block header_about %}
    {% include '_core/header_about.njk' %}
  {% endblock %}

  <!-- ==========================|========================== -->
  <!--                         ABOUT                         -->
  <!-- ==========================|========================== -->

  {% block about %}
    {% include '_core/about.njk' %}
  {% endblock %}

  <!-- ==========================|========================== -->
  <!--                       TELEHEALTH                      -->
  <!-- ==========================|========================== -->

  {# {% block telehealth %} #}
    {# {% include '_core/telehealth.njk' %} #}
  {# {% endblock %} #}

  <!-- ==========================|========================== -->
  <!--                     TESTIMONIALS                      -->
  <!-- ==========================|========================== -->

  {% block testimonials %}
    {% include '_core/acknowledgement.njk' %}
  {% endblock %}

  {% endblock %}
