---
title: About
description: This is the about page.
layout: 'default.njk'
eleventyNavigation:
  key: about
  order: 5
  icon: nav-icon-about.svg
---

{% block content %}

<div class="bg-mh_green/20 dark:bg-neutral-800">

  <!-- ==========================|========================== -->
  <!--                      HEADER_ABOUT                     -->
  <!-- ==========================|========================== -->
  {% block header_about %}
    {% include '_core/header_about.njk' %}
  {% endblock %}

  <!-- ==========================|========================== -->
  <!--                         ABOUT                         -->
  <!-- ==========================|========================== -->

  {% block about %}
    {% include '_core/about.njk' %}
  {% endblock %}

</div>
<!-- ==========================|========================== -->
<!--                       TELEHEALTH                      -->
<!-- ==========================|========================== -->

{# {% block telehealth %} #}
  {# {% include '_core/telehealth.njk' %} #}
{# {% endblock %} #}

<!-- ==========================|========================== -->
<!--                     TESTIMONIALS                      -->
<!-- ==========================|========================== -->

{# {% block testimonials %}
  {% include '_core/acknowledgement.njk' %}
{% endblock %} #}

{% endblock %}
