---
title: Contact
description: This is the contact page.
layout: 'default.njk'
eleventyNavigation:
  key: contact
  order: 6
  icon: nav-icon-contact.svg
---

{# Things to be included on the contact page:
    - who you are
    - your address
    - hours
    - an interactive map with a link out to Google Maps
    - your phone number
    - linked so you can call from mobile
    - simple contact form
    - don't require a bunch of stuff unless you absolutely need it
    - use a simple checkbox captcha
    - Perhaps a simple/short FAQ for really common questions that might reduce incoming requests.

    [https://www.reddit.com/r/web_design/comments/wq0dn9/in_your_opinion_what_makes_a_good_contact_us_page/]
 #}

{% block content %}

<div class="bg-mh_gray/10 dark:bg-neutral-800">

  <!-- ==========================|========================== -->
  <!--                     HEADER_CONTACT                    -->
  <!-- ==========================|========================== -->

  {% block header_contact %}
    {% include '_core/header_contact.njk' %}
  {% endblock %}

  <!-- ==========================|========================== -->
  <!--                     CONTACT FORM                      -->
  <!-- ==========================|========================== -->

  {% block contact %}
    {% include '_core/contact.njk' %}
  {% endblock %}

  <!-- ==========================|========================== -->
  <!--                     TESTIMONIALS                      -->
  <!-- ==========================|========================== -->

  {# {% block testimonials %}
    {% include '_core/acknowledgement.njk' %}
  {% endblock %} #}

</div>

{% endblock %}
