---
title: Welcome
description: This is the welcome/homepage of MyHill Psychology.
layout: 'default.njk'
eleventyNavigation:
  key: home
  order: 1
  icon: nav-icon-home.svg
---

{% block content %}

  <!-- ==========================|========================== -->
  <!--                     INTRODUCTION                      -->
  <!-- ==========================|========================== -->
  <div class="bg-mh_sand/20 dark:bg-stone-800">

    <!-- ==========================|========================== -->
    <!--                      HEADER_ABOUT                     -->
    <!-- ==========================|========================== -->
    {% block header_index %}
      {% include '_core/header_index.njk' %}
    {% endblock %}
    <!-- ==========================|========================== -->
    <!--                        SERVICES                       -->
    <!-- ==========================|========================== -->
    {% block services %}
      {% include '_core/services.njk' %}
    {% endblock %}

  <!-- ==========================|========================== -->
  <!--                     ACKNOWLEDGEMENT                   -->
  <!-- ==========================|========================== -->

  {% block testimonials %}
    {% include '_core/acknowledgement.njk' %}
  {% endblock %}

</div>


{% endblock %}
