---
title: Welcome
description: This is the welcome/homepage of MyHill Psychology.
layout: 'default.njk'
eleventyNavigation:
  key: home
  order: 1
  icon: nav-icon-home.svg
---

{% block content %}

  <!-- ==========================|========================== -->
  <!--                     INTRODUCTION                      -->
  <!-- ==========================|========================== -->

  {% block introduction %}
    {% include '_core/introduction.njk' %}
  {% endblock %}

  <!-- ==========================|========================== -->
  <!--                        SERVICES                       -->
  <!-- ==========================|========================== -->

  {% block services %}
    {% include '_core/services.njk' %}
  {% endblock %}

  <!-- ==========================|========================== -->
  <!--                        SUPPORT                        -->
  <!-- ==========================|========================== -->

  {% block support %}
    {% include '_core/support.njk' %}
  {% endblock %}

  <!-- ==========================|========================== -->
  <!--                       TELEHEALTH                      -->
  <!-- ==========================|========================== -->

  {% block telehealth %}
    {% include '_core/telehealth.njk' %}
  {% endblock %}

  <!-- ==========================|========================== -->
  <!--                     TESTIMONIALS                      -->
  <!-- ==========================|========================== -->

  {% block testimonials %}
    {% include '_core/testimonials.njk' %}
  {% endblock %}

{% endblock %}
