---
title: Services
description: This is the services page.
eleventyNavigation:
key: services
order: 2
icon: nav-icon-services.svg
---

{# The layout to use #}
{% extends "src/_includes/default.njk" %}
{% block
content %}
<!-- ==========================|========================== -->
<!--                         HERO                          -->
<!-- ==========================|========================== -->
{# {% block hero %} {% include '_components/hero.njk' %} {%
endblock %} #}
<!-- ==========================|========================== -->
<!--                     MAIN-SERVICES                     -->
<!-- ==========================|========================== -->
  {# {% block main_services %} {% include '_components/main_services.njk' %} {%
endblock %} #}
  <!-- ==========================|========================== -->
  <!--                     OTHER SERVICES                    -->
    <!-- ==========================|========================== -->
  {% block business_info_1 %}
  {% include '_components/business_info_1.njk' %}
    {%
endblock %}
  {% block business_info_2 %}
  {% include
'_components/business_info_2.njk' %}
  {% endblock %}
  <!-- ==========================|========================== -->
  <!--                     BUSINESS INFO                     -->
  <!-- ==========================|========================== -->
    {% block core_web_vitals %}
  {% include '_components/core_web_vitals.njk'
%}
  {% endblock %}
  <!-- ==========================|========================== -->
  <!--                  CONTINUED SERVICES                   -->
  <!-- ==========================|========================== -->
    {# wavy top #} <div class="relative w-full"><svg
      class="w-full rotate-180 fill-stone-100 dark:fill-stone-800"
      viewBox="0 0 562 15"
      xmlns="http://www.w3.org/2000/svg">
      <path d="m0 0h562c-28.1 2.5-125 22.8-281 11.7-173.2-12.8-248.3-10.6-281-11.7z"/>
    </svg>
  </div>
  <div class="bg-stone-100 dark:bg-stone-800">
    {% block business_info_3 %}
      {% include '_components/business_info_3.njk' %}
    {%
endblock %}
  </div>
  {# wavy bottom #}
  <div class="relative w-full">
    <svg class="w-full fill-stone-100 dark:fill-stone-800" viewBox="0 0 562 15" xmlns="http://www.w3.org/2000/svg">
      <path d="m0 0h562c-28.1 2.5-125 22.8-281 11.7-173.2-12.8-248.3-10.6-281-11.7z"/>
    </svg>
  </div>
  <!-- ==========================|========================== -->
  <!--                     CONTACT FORM                      -->
  <!-- ==========================|========================== -->
    <div class=""> {% block contact_form %}
      {% include '_components/contact_form.njk' %}
    {%
endblock %}
  </div>
  <!-- ==========================|========================== -->
  <!--                     PRICING                      -->
  <!-- ==========================|========================== -->
  {# wavy top #}
    <div class="relative w-full"> <svg
      class="w-full rotate-180 fill-stone-100 dark:fill-stone-800"
      viewBox="0 0 562 15"
      xmlns="http://www.w3.org/2000/svg">
      <path d="m0 0h562c-28.1 2.5-125 22.8-281 11.7-173.2-12.8-248.3-10.6-281-11.7z"/>
    </svg>
  </div>
  <div class=" bg-stone-100  dark:bg-stone-800">
    {% block pricing %}
      {% include '_components/pricing.njk' %}
    {%
endblock %}
  </div>
  {# wavy bottom #}
  <div class="relative w-full">
    <svg class="w-full fill-stone-100 dark:fill-stone-800" viewBox="0 0 562 15" xmlns="http://www.w3.org/2000/svg">
      <path d="m0 0h562c-28.1 2.5-125 22.8-281 11.7-173.2-12.8-248.3-10.6-281-11.7z"/>
    </svg>
  </div>
{% endblock %}
